from mwana.settings import *

# for sqlite3:
#DATABASE_ENGINE = 'sqlite3'
#DATABASE_NAME = 'db.sqlite3'
#TEST_DATABASE_NAME = '/tmp/mwana-test.db.sqlite3'

# for postgresql:
DATABASE_ENGINE = 'postgresql_psycopg2'
DATABASE_NAME = 'mwana_devel'
DATABASE_USER = ''
DATABASE_PASSWORD = ''
DATABASE_HOST = ''
DATABASE_PORT = ''
TEST_DATABASE_NAME = 'test_mwana_devel'

PROJECT_LOGO_URL = '/opt/mwana/mwana/data/mylogo.jpg'

TIME_ZONE='Europe/London'
