{% extends "layout.html" %}
{% load forms_tags %}

{% block title %}Send SMS Messages - {{ block.super }}{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    function inform(){
        return confirm('Are you sure you want to');
    }

    function checkform(form){
        if(form.message.value.trim() == ""){            
            alert("Please enter a message to send");
            form.message.focus();
            return false;
        }
        if(form.message.value.length > 160){
            alert("The message should not exceed 160 characters");
            form.message.focus();
            return false;
        }
        if(form.message.value.length < 15){
            return confirm('Your massage is too short. Are you sure?')
        }
        return confirm('Are you sure?');
    }
</script>
{{ block.super }}
{% endblock %}

{% block stylesheets %}
{{ block.super }}

{% endblock %}

{% block content %}



    <div class="left">
        <form name="getValues" action="" method="GET" onsubmit="return checkform(this);">
        <div class="module">

            <h2>Send SMS Messages</h2>
            <br>
            

                <p >Select worker type:&nbsp;
                    {% autoescape off %}
                    {{worker_types}}
                    {% endautoescape %}
                           
                <p>
                    Province:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% autoescape off %}
                    {{rpt_provinces}}
                    {% endautoescape %}&nbsp;
                    or District:{% autoescape off %}
                    {{rpt_districts}}
                    {% endautoescape %}&nbsp;
                    or Facility:{% autoescape off %}
                    {{rpt_facilities}}
                    {% endautoescape %}&nbsp;

                <p>Phone # Like: &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <input type="text" name="phone_pattern" size="17" value="{{ phone_pattern }}">
                    &nbsp;E.g. +26097, +26096, +260966700345
                    {% if is_report_admin %}
                <p>Select Implementer:
                    {% autoescape off %}
                    {{rpt_group}}
                    {% endautoescape %}
                    &nbsp;
                    {%endif%}
                {%if confirm_message or meta_infor%}
                <div id="confirm" style="background: #FFFFCC; border: 1px solid #DDDDDD; padding: inherit">
                    {{confirm_message}}
                    {{ meta_infor}} 
                    <input type="hidden" name="confirmed" value="{{ confirmed}}" />
                </div>
                {% endif %}

                <p><textarea id="message" name="message" rows="4" cols="36">{{message}}</textarea> </p>

                    <input type="submit" value="     Ok     " name="SubmitValues"/>
                    <input type="submit" value="Cancel" name="cancel"/>
                   

           
        <div class="clear-hack"></div>
    </div>

        <div class="pagination">
    
</div>
        </form>

</div>
{% endblock %}
