{% extends "layout.html" %}
{% load forms_tags %}

{% block title %}Send SMS Messages - {{ block.super }}{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/location_selector.js" ></script>
{{ block.super }}
{% endblock %}

{% block stylesheets %}
{{ block.super }}

{% endblock %}

{% block content %}

<div class="left">
    <form name="getValues" action="" method="POST" onsubmit="return checkform(this);">
        <div class="module">

            <h2>Send SMS Messages</h2>
            <br>
            <table border="0"  bgcolor="#F8F8F8"  width="100%">
                
                <tbody>
                    <tr style="border: 0px;">
                        <td style="border: 0px">Select worker type:</td>
                        <td style="border: 0px">
                            {% autoescape off %}
                            {{worker_types}}
                            {% endautoescape %}</td>
                    </tr>
                    <tr>
                        <td style="border: 0px">Province:</td>
                        <td style="border: 0px">{% autoescape off %}
                            {{rpt_provinces}}
                            {% endautoescape %}&nbsp;
                            or District:{% autoescape off %}
                            {{rpt_districts}}
                            {% endautoescape %}&nbsp;
                            or Facility:{% autoescape off %}
                            {{rpt_facilities}}
                            {% endautoescape %}</td>
                    </tr>
                    <tr>
                        <td style="border: 0px">[Optional] Phone Pattern:</td>
                        <td style="border: 0px">
                            <input type="text" name="phone_pattern" size="17" value="{{ phone_pattern }}">
                            &nbsp;E.g. +26097, +26096, +260966700345</td>
                    </tr>
                    <tr>
                        {% if is_report_admin %}
                        <td style="border: 0px">Select Implementer:</td>
                        <td style="border: 0px">{% autoescape off %}
                            {{rpt_group}}
                            {% endautoescape %}
                        </td>
                        {%endif%}
                    </tr>
                </tbody>
            </table>
<p>

                {%if confirm_message or meta_infor%}
            <div id="confirm" style="background: #FFFFCC; border: 1px solid #DDDDDD; padding: inherit">
                {{confirm_message}}
                {{ meta_infor}}
                <input type="hidden" name="confirmed" value="{{ confirmed}}" />
            </div>
            {% endif %}

            <p><textarea id="message" name="message" rows="4" cols="36">{{message}}</textarea> </p>

            <input type="submit" value="     Ok     " name="SubmitValues"/>
            <input type="submit" value="Cancel" name="cancel"/>



            <div class="clear-hack"></div>
        </div>

        <div class="pagination">

        </div>
    </form>

</div>
{% endblock %}
