*.pyc
*.db
mwana/localsettings.py
mwana/test_localsettings.py
*~
mwana/logs/*
mwana/db.sqlite3
.project
.pydevproject
.settings/
mwana/*.bak
mwana/build/*
mwana/.idea/*
mwana/apps/labresults/static/images/malawi-moh-logo.png
mwana/apps/labresults/static/javascripts/datepicker.js
mwana/apps/labresults/static/javascripts/jquery.jdpicker.js
mwana/apps/labresults/static/javascripts/malawi.js
mwana/apps/labresults/static/javascripts/tab-panel.js
mwana/apps/labresults/static/stylesheets/datepicker.css
mwana/apps/labresults/static/stylesheets/images/backstripes.gif
mwana/apps/labresults/static/stylesheets/images/bg_header.jpg
mwana/apps/labresults/static/stylesheets/images/bg_hover.png
mwana/apps/labresults/static/stylesheets/images/bg_selectable.png
mwana/apps/labresults/static/stylesheets/images/bg_selected.png
mwana/apps/labresults/static/stylesheets/images/bullet1.gif
mwana/apps/labresults/static/stylesheets/images/bullet2.gif
mwana/apps/labresults/static/stylesheets/images/cal-grey.gif
mwana/apps/labresults/static/stylesheets/images/cal.gif
mwana/apps/labresults/static/stylesheets/images/gradient-e5e5e5-ffffff.gif
mwana/apps/labresults/static/stylesheets/jdpicker.css
mwana/apps/labresults/static/stylesheets/malawi.css
mwana/apps/labresults/static/stylesheets/tab-panel.css
mwana/apps/labresults/static/stylesheets/tables.css
mwana/apps/reminders/.#views.py
/mwana/.dir-locals.el
