*.pyc
*.db
mwana/localsettings.py
mwana/*.csv
mwana/*.groovy
mwana/*.zip
mwana/*.json
mwana/*.ods
mwana/*.txt
mwana/*.xls
mwana/*.xlsx
mwana/test_localsettings.py
*~
mwana/apps/export2/*
mwana/apps/experimental/*
mwana/logs/*
mwana/db.sqlite3
.project
.pydevproject
.settings/
mwana/*.bak
mwana/build/*
mwana/.idea/*
work*
*.bat
nbproject/*
