*.pyc
*.db
mwana/localsettings.py
mwana/test_localsettings.py
*~
mwana/logs/*
mwana/db.sqlite3
.project
.pydevproject
.settings/
mwana/*.bak
mwana/build/*
mwana/.idea/*
STATICFILES/*
static_files/*
mwana/bu-dev/*
.idea*
mwana/help.xls
mwana/npm-debug.log
mwana/xforms/back_1.xml
mwana/xforms/back_2.xml
mwana/xforms/drop.xml
mwana/xforms/pick.xml
