[submodule "submodules/rapidsms-smsforms"]
	path = submodules/rapidsms-smsforms
	url = ssh://adewinter@local-vm/home/adewinter/repos/rapidsms-smsforms
[submodule "submodules/touchforms"]
	path = submodules/touchforms
	url = ssh://adewinter@local-vm/home/adewinter/repos/touchforms
[submodule "submodules/rapidsms-smscouchforms"]
	path = submodules/rapidsms-smscouchforms
	url = ssh://adewinter@local-vm/home/adewinter/repos/rapidsms-smscouchforms
[submodule "submodules/couchlog"]
	path = submodules/couchlog
	url = ssh://adewinter@local-vm/home/adewinter/repos/couchlog
[submodule "submodules/couchexport"]
	path = submodules/couchexport
	url = ssh://adewinter@local-vm/home/adewinter/repos/couchexport
[submodule "submodules/couchforms"]
	path = submodules/couchforms
	url = ssh://adewinter@local-vm/home/adewinter/repos/couchforms.git
[submodule "submodules/vellum"]
	path = submodules/vellum
	url = ssh://adewinter@local-vm/home/adewinter/repos/Vellum.git
[submodule "submodules/django-soil"]
	path = submodules/django-soil
	url = git://github.com/dimagi/django-soil.git
