{% extends  "layout.html" %}
{% load djtables_tags %}

{% block title %}Errors - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/smoothness/jquery-ui-1.9.1.custom.min.css">
<style type="text/css">
  #errors-form .ui-autocomplete-input{
      margin-top: 6px;
      width: 150px;
  }

  select#id_c_type, select#id_filter_option, select#id_status{
    height: 23px;
    margin-top: 3px;
  }
</style>
{{ form.media.css }}

{% endblock %}

{% block javascripts %}
  <script src="{{ STATIC_URL }}smgl/js/jquery-1.8.2.min.js"></script>
  <script src="{{ STATIC_URL }}smgl/js/jquery-ui-1.9.1.custom.min.js"></script>
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  </script>
{% endblock %}

{% block page_tabs %}
 {% include "smgl/includes/statistics_subnav.html" %}
{% endblock %}

{% block content %}

<div class="statistics module">
  <h2>Filtering</h2>
 <form action="" method="GET" id="errors-form">
    <table>
      <thead>
        <tr>
          <th colspan="2">Period</th>
          <th colspan="3">Location</th>
          <th colspan="1">User</th>
        </tr>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Province</th>
          <th>District</th>
          <th>Facility</th>
          <th>Contact Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ form.start_date.errors}}
            {{ form.start_date }}
          </td>
          <td>
            {{ form.end_date.errors}}
            {{ form.end_date }}
          </td>
          <td>
            {{ form.province.errors}}
            {{ form.province }}
          </td>
          <td>
            {{ form.district.errors}}
            {{ form.district }}
          </td>
           <td>
             {{ form.facility.errors}}
             {{ form.facility }}
           </td>
          <td>
            {{ form.c_type.errors}}
            {{ form.c_type }}
          </td>
        </tr>
      </tbody>
    </table>
      <input type="submit" class="btn" name="filter" value="Filter" />
      <input type="submit" class="btn" name="export" value="Export" />
  </form>
  {{ form.media.js }}
    <form action="." method="POST">
      {% csrf_token %}
      Or search by (partial) Name or Phone Number<br />
      {{ search_form.search_string.errors }}
      {{ search_form.search_string }}
      <input type="Submit" class="btn" name="search" value="Search" />
    </form>
  <div id="records">
    {{ error_table.as_html }}
  </div>
</div>

  <script type="text/javascript">
    $(document).ready(function() {
        function newDistrictParameters(query) {
            query.province = $('#id_province_1').val();
        }
        $('#id_district_0').djselectable('option', 'prepareQuery', newDistrictParameters);

    });
</script>

{% endblock %}
