{% extends "layout.html" %}
{% block title %}Home - {{ block.super }}{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}smgl/css/statistics.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}smgl/css/smoothness/jquery-ui-1.9.1.custom.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}smgl/css/zcahrd_style.css">
<style type="text/css">
	#branding h1 a span{
		font-size: 1.6em;
		text-align:center;
	}

	#branding h1 a{
		float:none;
		text-align:center;
	}

	#branding h1 a:hover{
		text-decoration: none;
		text-align:center;
	}
	#intro-text{
		font-size: 16px;
		border:2px solid  #47bedd;
		padding:3px 7px 0 7px;
		color:#746c6c;

	}
	#map-canvas{
		width: 100%;
		height: 400px;
		margin-top:15px;
		margin-left: 10px;
	}
	#inner{
		padding:0;
	}

	#smgl_logo{
		background:url('{{ STATIC_URL }}smgl/images/smgl_logo.jpg') no-repeat 50% 50%;
		display:block;
		width:100%;
		height:75px;
	}

	#zcahrd_logo{
		background:url('{{ STATIC_URL }}smgl/images/zcahrd_logo.png') no-repeat 50% 50%;
		display:block;
		width:100%;
		height:75px;
	}

	#coat_of_arms{
		background:url('{{ STATIC_URL }}smgl/images/grz_coat_of_arms.png') no-repeat 50% 50%;
		display:block;
		width:100%;
		height:75px;
	}
</style>
{{ form.media.css }}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJlmUB29Ovc3xPkP9itrM0cNcAgk-SIwM&sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
	$(document).ready(function(e){
		var abv = {
       		CMP: "Complications during previous pregnancy",
			CSEC: 'C-Section',
			GD: 'Gestational Diabetes',
			PSB: 'Previous Still Born',
			Other: 'Other',
	        FD:    "Fetal Distress",
	        PEC:   "Pre-Eclampsia",
	        EC:    "Eclampsia",
	        HBP:   "High Blood Pressure",
	        PPH:   "Post-Partum Hemorrhage",
	        APH:   "Antepartum Hemorrhage",
	        PL:    "Prolonged Labor",
	        CPD:   "Big Baby Small Pelvis",
	        OTH:   "Other",
	        PP:    "post-partum visit"

		}
		$.get('/smgl', function(data){
			$('#birth-comp-chart').highcharts({
				credits:{
					enabled:false
				},
				title:{
					text: 'Common Obstetric History',
					style: {
						'font-weight':'bold',
						'text-decoration':'underline',
					}
				},
				tooltip:{
					formatter: function(){
						return abv[this.key]+" <br> "+this.series.name+': <b>'+this.point.y+' ('+this.point.percentage.toPrecision(3)+'%)</b>'
					}
				},
				subtitle:{
					text: 'Total Number: '+ data['num_mothers']
				},
				plotOptions:{
					pie:{
						size: "85%"
					}
				},
				series: [{
					type: 'pie',
					name: 'No. Mothers',
					data: data['conditions']
				}]
			});

			$('#ref-comp-chart').highcharts({
				credits:{
					enabled:false
				},
				title:{
					text: '<b>Common Reasons for Referral</b>',
					style: {
						'font-weight':'bold',
						'text-decoration':'underline',
					}
				},
				tooltip:{
					formatter: function(){
						return abv[this.key]+" <br> "+this.series.name+': <b>'+this.point.y+' ('+this.point.percentage.toPrecision(3)+'%)</b>'
					}
				},
				subtitle:{
					text: 'Total Number: '+ data['num_ref_reasons']
				},
				plotOptions:{
					pie:{
						size: "85%"
					}
				},
				series: [{
					type: 'pie',
					name: 'No. Mothers',
					data: data['ref_reasons'].sort(function(a,b){
						return a[0].length - b[0].length })
						//The sort is needed to push the longer labels to the si
						//de of the screen with more space
				}]
			});
		});
	});

	var map;
	function initialize(){
		var mapOptions = {
			center: new google.maps.LatLng(-17.033397, 26.48502),
			zoom:9
		};
		var map = new google.maps.Map(document.getElementById('map-canvas'),
		mapOptions);

		setMarkers(map, clinics);
	}
	var clinics = [
	['Habulile RHC', -16.35866, 26.52111],
	['Mapatizya RHC', -17.69354, 26.86418],
	['Masempela RHC', -17.41367, 26.51511],
	['Mawaya UHC', -17.02679,  26.48231],
	['Mukwela RHC', -17.04765, 26.68393],
	['Naluja RHC', -16.64417, 26.53877],
	['Namwianga RHC', -17.06463, 26.48695],
	['Simwatachela  RHC ', -17.53004, 26.76021],
	['Sipatunyana RHC', -17.28667, 26.56134],
	['Muzya RHC', -17.42179, 26.27506],
	['Bbilili RHC', -16.74924, 26.23403],
	['Chilala RHC', -16.37828, 26.64569],
	['Choonga UHC', -17.02073, 26.48234],
	['Kalonda RHC', -16.88512, 26.69765],
	['Kanchela RHC', -17.30291, 26.77917],
	['Luyaba RHC', -17.45223, 26.66584],
	['Mabombo RHC', -16.33480, 26.43254],
	['Nameeto RHC', -16.67371, 26.35648],
	['Nkandanzovu RHC', -16.57284, 26.20173],
	['Siabukululu RHC', -16.47625, 26.66712],
	['Siachitema RHC', -16.81829, 26.70498],
	['Siamafumbe RHC', -17.51267, 26.60272],
	['Chifusa RHC', -16.66636, 26.77063],
	['Dimbwe RHC', -17.15584, 26.92053],
	['Mubanga RHC', -16.46522, 26.46498],
	['Munkolo RHC', -17.28695, 26.22586],
	['Nakowa', -17.31601, 26.19305],
	['Kalemu RHC', -16.03098, 26.47724],
	['Mayoba  RHC', -17.22764, 26.26913],
	['Moonde RHC', -17.07603,  26.79831],
	['Simalundu', -17.65931, 26.55323],
	['Zimba Mission Hospital', -17.31756, 26.20381],
	['Kalomo District Hospital', -17.03078, 26.47764]
	]


	function setMarkers(map, clinics){
		var image = {
			url: '{{ STATIC_URL }}smgl/images/mini_facility.png',
			size: new google.maps.Size(20, 32),
			origin: new google.maps.Point(0, 0),
			anchor: new google.maps.Point(0, 32)
		};

		var shape = {
			coord: [1, 1, 1, 20, 18, 20, 18, 1],
			type: 'poly'
		}

		for (var i = 0; i < clinics.length; i++){
			var clinic = clinics[i];
			var myLatLng = new google.maps.LatLng(clinic[1], clinic[2])
			var marker = new google.maps.Marker({
				position: myLatLng,
				map:map,
				icon: image,
				shape: shape,
				title: clinic[0],
			});
		}
		}
	google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<img src="{{ STATIC_URL }}smgl/images/mubumi_logo.png" id="header-image"/>
	</div>
	<div class="row-fluid">
		<div class="col-xs-8 col-xs-offset-2" id="intro-text">
			<p>Project mUbumi is a pilot mobile health (mHealth) project developed by the Zambia Center for

			   Applied Health Research and Development (ZCAHRD) under the broader Saving Mothers Giving

			   Life (SMGL) initiative. mUbumi aims to apply mHealth technology to:</p>
			   <ol>
			    	<li>Improve antenatal and postnatal care visit compliance;</li>
					<li>Improve communication during emergency obstetric referrals; and</li>
					<li>Provide real-time data from the facility and community on maternal and child health care.</li>
			   </ol>

				<p>Deployed in 2012, Project mUbumi is currently being implemented in 9 health facilities in Kalomo

				District, Southern Province, Zambia. For more details on system design and functions, please

				contact the <a href="mailto:administrator@zcahrd.org" target="_parent">mUbumi team</a>.</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-7">
			<div class="row-fluid" id="images">
				<div class="col-xs-4" style="padding-right:0;">
					<a href="{% url reports_tabs %}#anc-report" title="{{ num_antenatal }} ANC Visits from {{ anc_start }} to {{ today }}">
						<div id="left-image" class="btn btn-default">
							<h3 class="image-text">Antenatal</h3>
							<img src="{{ STATIC_URL }}smgl/images/antenatal.png" class="nav-image"/>
						</div>
					</a>
				</div>
				<div class="col-xs-4" style="padding-right:0;">
					<a href="{% url reports_tabs %}#anc-report" title="{{ num_intrapartum }} Mothers Registered from {{ pregnancies_start }} to {{ today }}">
						<div class="row-fluid">
							<div class="btn btn-default" id="middle-top-image">
								<h3 class="image-text">Intrapartum</h3>
								<img src="{{ STATIC_URL }}smgl/images/intra.png" class="nav-image"/>
							</div>
						</div>
					</a>
					<div class="row-fluid">
						<a href="{% url reports_tabs %}#referral-report" title="{{ num_emergencies }} Emergencies from {{ referrals_start }} to {{ today }}">
							<div class="btn btn-default" id="middle-bottom-image">
								<h3  class="image-text">Emergencies</h3>
								<img src="{{ STATIC_URL }}smgl/images/emerg.png" class="nav-image" />
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4" style="padding-right:0;">
					<a href="{% url reports_tabs %}#pnc-report" title="{{ num_postpartum }} POS Visits from {{ pos_start }} to {{ today }}">
						<div class="btn btn-default" id="right-image">
							<h3  class="image-text">Post Partum</h3>
							<img src="{{ STATIC_URL }}smgl/images/post_partum.png" class="nav-image"/>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="row-fluid">
				<div id="ref-comp-chart"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7">
			<div id="map-canvas"></div>
		</div>
		<div class="col-xs-5">
			<div id="birth-comp-chart"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-3" id="footer-logos">
			<a href="http://www.savingmothersgivinglife.org/" id="smgl_logo" title="SMGL"></a>
		</div>
		<div class="col-xs-2">
			<a href="http://www.bu.edu/cghd/about-us/country-programs/zambia-country-program/" id="zcahrd_logo" title="ZCAHRD"></a>
		</div>
		<div class="col-xs-2">
			<a href="http://www.moh.gov.zm" id="coat_of_arms"  title="Zambia MOH"></a>
		</div>
	</div>

</div>
{% endblock %}
