{% extends  "layout.html" %}

{% block title %}Mothers - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/smoothness/jquery-ui-1.9.1.custom.min.css">
{{ form.media.css }}

{% endblock %}


{% block javascripts %}
  <script src="{{ STATIC_URL }}smgl/js/jquery-1.8.2.min.js"></script>
  <script src="{{ STATIC_URL }}smgl/js/jquery-ui-1.9.1.custom.min.js"></script>
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_edd_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_edd_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  </script>
{% endblock %}

{% block content %}

<div class="statistics module">
<h2>Mothers</h2>
  <form action="" method="GET" id="mothers-form" >
    <table>
      <thead>
        <tr>
          <th colspan="2">Registration Period</th>
          <th colspan="4">Location</th>
          <th colspan="2">EDD Period</th>
        </tr>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Province</th>
          <th>District</th>
          <th>Facility</th>
          <th>Zone</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ form.start_date.errors}}
            {{ form.start_date }}
          </td>
          <td>
            {{ form.end_date.errors}}
            {{ form.end_date }}
          </td>
          <td>
            {{ form.province.errors}}
            {{ form.province }}
          </td>
          <td>
            {{ form.district.errors}}
            {{ form.district }}
          </td>
            <td>
              {{ form.facility.errors}}
              {{ form.facility }}
            </td>
            <td>
              {{ form.zone.errors}}
              {{ form.zone }}
            </td>
          <td>
            {{ form.edd_start_date.errors}}
            {{ form.edd_start_date }}
          </td>
          <td>
            {{ form.edd_end_date.errors}}
            {{ form.edd_end_date }}
          </td>

        </tr>
      </tbody>
    </table>
      <input type="submit" class="btn" name="filter" value="Filter" />
      <input type="submit" class="btn" name="export" value="Export" />
  </form>
  {{ form.media.js }}

<form action="." method="POST">
    {% csrf_token %}
    Or search by (partial) Mother Unique ID<br />
    {{ search_form.uid.errors }}
    {{ search_form.uid }}
    <input type="Submit" class="btn" name="search" value="Search" />
</form>

{{ mothers_table.as_html }}
</div>

  <script type="text/javascript">
    $(document).ready(function() {
        function newDistrictParameters(query) {
            query.province = $('#id_province_1').val();
        }
        $('#id_district_0').djselectable('option', 'prepareQuery', newDistrictParameters);
        function newFacilityParameters(query) {
            query.district = $('#id_district_1').val();
        }
        $('#id_facility_0').djselectable('option', 'prepareQuery', newFacilityParameters);
        function newZoneParameters(query) {
            query.facility = $('#id_facility_1').val();
        }
        $('#id_zone_0').djselectable('option', 'prepareQuery', newZoneParameters);

    });
</script>

{% endblock %}
