{% extends  "layout.html" %}

{% block title %}Help Admin Notifications - {{ block.super }}{% endblock %}
{% load selectable_tags %}
{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
{% include_ui_theme %}
{{ form.media.css }}

{% endblock %}

{% block javascripts %}
  {% include_jquery_libs %}
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  </script>
{% endblock %}

{% block page_tabs %}
 {% include "smgl/includes/refs_notifications_subnav.html" %}
{% endblock %}

{% block content %}

<div class="statistics messages module">
  <h2>Notifications</h2>
  <form action="" method="GET" >
    <table>
      <thead>
        <tr>
          <th colspan="2">Period</th>
          <th colspan="3">Location</th>
        </tr>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Province</th>
          <th>District</th>
          <th>Facility</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ form.start_date }}
            {{ form.start_date.errors}}
          </td>
          <td>
            {{ form.end_date }}
            {{ form.end_date.errors}}
          </td>
          <td>
            {{ form.province }}
            {{ form.province.errors}}
          </td>
          <td>
            {{ form.district }}
            {{ form.district.errors}}
          </td>
           <td>
             {{ form.facility }}
             {{ form.facility.errors}}
           </td>
        </tr>
      </tbody>
    </table>
      <input type="submit" class="btn" name="filter" value="Filter" />
      <input type="submit" class="btn" name="export" value="Export" />
  </form>
  {{ form.media.js }}
{{ message_table.as_html }}
</div>


{% endblock %}
