{% extends  "layout.html" %}

{% block title %}Reports - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/smoothness/jquery-ui-1.9.1.custom.min.css">
{{ form.media.css }}

{% endblock %}


{% block javascripts %}
  <script src="{{ STATIC_URL }}smgl/js/jquery-1.8.2.min.js"></script>
  <script src="{{ STATIC_URL }}smgl/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });

        var activeTab
        //Load report on click
        $("a[data-toggle='tab']").on('show.bs.tab', function(e){
            var targ = $(e.target).attr('href');
            targ = targ.replace('#', '');
            $("#"+targ).html("<p>Loading....Please wait.</p>").css({
              'font-size':'25px',
              'text-align':'center'
            })

        })
        $("a[data-toggle='tab']").on('shown.bs.tab', function (e) {
            var formData = $("form").serialize()
            var targ = $(e.target).attr('href');
            targ = targ.replace('#', '');
            var siteURL = "/smgl/";
            var fullURL = siteURL+targ;
            var abbv = {
              'Emergent Referrals':'Referrals',
              'Referrals With Response': 'Ref. W/ Resp',
              'Referrals With Response Outcome': 'Ref. W/ Resp-Out.',
              'Transport By Ambulance': 'Trans. Amb',
              'Average Turnaround Time': 'Avg. Time',
              'Most Common Reason For Referral': 'Common Ref. Reason',
              'Clinic Workers Registered':'Clinic W. Reg.',
              'Clinic Workers Active':'Clinic W. Actv.',
              'Data Clerks Registered':'D. Clerks Reg.',
              'Data Clerks Active':'D. Clerks Actv.',
              'Community Based Agents Registered':'CBAs Reg.',
              'Community Based Agents Active':'CBAs Actv.',
              'Error Rate: Clinic Workers':'Err. Clinic W.',
              'Error Rate: Data Clerks':'Err. D. Clerks.',
              'Error Rate: Community Based Agents': 'Err. CBAs'
            }
            $.get(fullURL, formData, function(data){

              window.location.hash = '#'+targ //Set the url hash
                $("#"+targ).html(data).css({
                  'font-size':'14px',
                  'text-align':'left'
                }) //put in the data

                var headers = $('table:eq(1) thead tr th a')

                headers.each(function(index, item){
                  //use the current text value as the key to pull out the
                  //correct abbreviation and set it in as the text
                  //while the text value becomes the title
                  header = $(item)
                  text = header.text()
                  abv = abbv[text.trim()]
                  header.attr('title', text)
                  header.text(abv)
                });
            });


          });

        var hash = location.hash
          , hashPieces = hash.split('?')
          , activeTab = $('[href=' + hashPieces[0] + ']');
        if (!hash){
          activeTab  = $('[href=#anc-report]')
        }
        activeTab.tab('show');



    });
  </script>
{% endblock %}

{% block page_tabs %}
 {% include "smgl/includes/message_panel_subnav.html" %}
{% endblock %}

{% block content %}

<div class="statistics module">
<h2>Reports</h2>
  <form action="" method="GET" id="sms-records-form" >
    <table>
      <thead>
        <tr>
          <th colspan="2">Period</th>
          <th colspan="3">Location</th>
          <th colspan="1">Filter</th>
          <th colspan="2">User</th>
        </tr>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Province</th>
          <th>District</th>
          <th>Facility</th>
          <th>Filter</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ form.start_date.errors}}
            {{ form.start_date }}
          </td>
          <td>
            {{ form.end_date.errors}}
            {{ form.end_date }}
          </td>
          <td>
            {{ form.province.errors}}
            {{ form.province }}
          </td>
          <td>
            {{ form.district.errors}}
            {{ form.district }}
          </td>
           <td>
             {{ form.facility.errors}}
             {{ form.facility }}
           </td>
           <td>
             {{ form.filter_option.errors}}
             {{ form.filter_option }}
           </td>
          <td>
            {{ form.c_type.errors}}
            {{ form.c_type }}
          </td>
          <td>
            {{ form.status.errors }}
            {{ form.status }}
          </td>
        </tr>
      </tbody>
    </table>
      <input type="submit" class="btn" name="filter" value="Filter" />
      <!--<input type="submit" class="btn" name="export" value="Export" />-->
  </form>
  {{ form.media.js }}
<div class="row-fluid">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li><a href="#anc-report" data-toggle="tab">ANC Report</a></li>
        <li><a href="#pnc-report" data-toggle="tab">PNC Report</a></li>
        <li><a href="#reminder-report" data-toggle="tab">Reminders Report(Mothers)</a></li>
        <li><a href="#reminder-report-smag" data-toggle="tab">Reminders Report (SMAG)</a></li>
        <li><a href="#referral-report" data-toggle="tab">Referral Report</a></li>
        <li><a href="#user-report" data-toggle="tab">User Report</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="anc-report"></div>
        <div class="tab-pane" id="pnc-report"></div>
        <div class="tab-pane" id="reminder-report"></div>
        <div class="tab-pane" id="reminder-report-smag"></div>
        <div class="tab-pane" id="referral-report"></div>
        <div class="tab-pane" id="user-report"></div>

      </div>
</div>
</div>

  <script type="text/javascript">
    $(document).ready(function() {
        function newDistrictParameters(query) {
            query.province = $('#id_province_1').val();
        }
        $('#id_district_0').djselectable('option', 'prepareQuery', newDistrictParameters);
        function newFacilityParameters(query) {
            query.district = $('#id_district_1').val();
        }
        $('#id_facility_0').djselectable('option', 'prepareQuery', newFacilityParameters);
    });
</script>

{% endblock %}
