{% extends  "layout.html" %}

{% block title %}Extra Tabs - {{ block.super }}{% endblock %}
{% load selectable_tags %}
{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
{% include_ui_theme %}
{{ form.media.css }}

{% endblock %}


{% block javascripts %}
{% include_jquery_libs %}
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  </script>
{% endblock %}

{% block page_tabs %}
 {% include "smgl/includes/message_panel_subnav.html" %}
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="col-sm-6">
		<h3>Report Pages</h3>
		<ul class="list-unstyled" style="margin:10px;">
			<li><a href="{% url anc-report %}">ANC Report</a></li>
			<li><a href="{% url pnc-report %}">PNC Report</a></li>
			<li><a href="{% url reminder-stats %}">Reminders Report</a></li>
			<li><a href="{% url referral-report %}">Referral Report</a></li>
			<li><a href="{% url user-report %}">User Report</a></li>
		</ul>
		<h3>Development</h3>
		<ul class="list-unstyled" style="margin:10px;">
			<li><a href="{% url suggestions-list %}">Development</a></li>
		</ul>
	</div>
</div>
{% endblock %}