{% extends  "layout.html" %}

{% block title %}Reports - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/smoothness/jquery-ui-1.9.1.custom.min.css">
{{ form.media.css }}

{% endblock %}


{% block javascripts %}
  <script src="{{ STATIC_URL }}smgl/js/jquery-1.8.2.min.js"></script>
  <script src="{{ STATIC_URL }}smgl/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });

        var activeTab
        //Load report on click
        $("a[data-toggle='tab']").on('show.bs.tab', function(e){
            var targ = $(e.target).attr('href');
            targ = targ.replace('#', '');
            $("#"+targ).html("<p>Loading....Please wait.</p>").css({
              'font-size':'25px',
              'text-align':'center'
            })
        });

        $("a[data-toggle='tab']").on('shown.bs.tab', function (e) {
            var formData = $("form").serialize()
            var targ = $(e.target).attr('href');
            targ = targ.replace('#', '');
            var siteURL = "/smgl/";
            var fullURL = siteURL+targ;
            var abbv = {
              'Pregnant Women': 'Option 1: The number of women who registered a pregnancy AND gave birth OR had their EDD scheduled within the specified time frame; Option 2: The number of women who gave birth OR had their EDD scheduled within the specified time frame',
              '2 Anc': 'The number of women who complete ONLY 2 Antenatal care visits during their pregnancy',
              '3 Anc': 'The number of women who complete ONLY 3 Antenatal care visits during their pregnancy',
              '4+ Anc': 'The number of women who complete ONLY 4 or more Antenatal care visits during their pregnancy',
              'Facility Births': 'The number of women with registered facility deliveries in the system',
              'Home Births': 'The number of women with registered community deliveries in the system',
              'Status Unknown': 'The number of women expected to deliver within the specified timeframe who do not have a delivery registered in the system',
              'Gestational Age @ First Anc': 'Average gestational age in weeks at ANC booking = LMP date - pregnancy registration date',
              'Registered Deliveries':"# registered facility or community births during the specified timeframe AND who's delivery dates are at least 6 weeks prior to the specified end date",
              'Facility': '# of registered deliveries in our cohort that occur at the facility',
              'Community': '# of registered deliveries in our cohort that occur in the community',
              '6 Day Pnc': '# of women with registered PNC visit within 7 days of delivery registration during the specified time frame',
              '6 Week Pnc': '# of women with registered PNC visit within 7 weeks of delivery registration during the specified time frame',
              'Complete Pnc': '# of women who completed 6-day and 6-week PNC visits within our reporting period',
              'Referrals': '# of Emergent Referral Messages sent during the specified timeframe',
              'Ref. W/ Resp': '# of Emergent Referral Messages with response sent through the system during the specified timeframe',
              'Ref. W/ Resp-Out.': '# of Emergent Referral Messages with response and referral outcome sent through the system during the specified timeframe',
              'Trans. Amb': '# of Emergent Referral patients transported by ambulance',
              'Avg. Time': "Average turnaround time in hours from initiation of referral message to patients' arrival at referral location (Refout Time – Time Referral Sent)",
              'Common Ref. Reason': 'Most frequent obstetric complication cited in emergent referral requests',
              'Clinic W. Reg.': 'Total # of clinic workers registered in the system during the specified time period',
              'Clinic W. Actv.': '# of clinic workers who interacted with the system within the past 30 days during the specified time period',
              'D. Clerks Reg.': 'Total # of data clerks registered in the system during the specified time period',
              'D. Clerks Actv.': '# of data clerks who interacted with the system within the past 14 days during the specified time period',
              'Cbas Reg.': 'Total # of Community Based Agents registered in the system during the specified time period',
              'Cbas Actv.': '# of Community Based Agents who interacted with the system within the past 60 days during the specified time period',
              'Err. Clinic W.': 'The proportion of messages containing errors sent by clinic workers during the specified time period',
              'Err. D. Clerks': 'The proportion of messages containing errors sent by data clerks during the specified time period',
              'Err. Cbas': 'The proportion of messages containing errors sent by Community Based Agents during the specified time period',
              'Scheduled': '# EDD/ANC/PNC/Referral Reminders scheduled during the specified time period for each Mother',
              'Sent': '# EDD/ANC/PNC/Referral Reminders sent from the system during the specified time period',
              'Told And Showed': '# of registered follow-up ANC and PNC visits and facility deliveries for women who were reminded by a SMAG',
              'Showed On Time': '# ANC Follow-ups registered in the system that occur 7 days prior OR 14 days after scheduled date with a corresponding TOLD message during the specified time period.....# PNC Follow-ups registered in the system that occur 7 days after the scheduled 6 day visit, or 7 weeks after the scheduled 6 week visit with a corresponding TOLD message during the specified time period',
              'Reminded': '# EDD/ANC/PNC TOLD messages received during the specified time period',
              'Sent (Smag)': '# EDD/ANC/PNC/Referral Reminders sent to SMAGS',
              'Scheduled (Smag)': '# EDD/ANC/PNC/Referral Reminders scheduled to be sent to SMAGS',
              'Received Told': '# EDD/ANC/PNC TOLD messages received during the specified time period',
              'Birth/Anc/Pnc/Ref':'# of registered ANC/PNC visits, Deliveries and Emergency Referrals during the specified time frame'

            }
            $.get(fullURL, formData, function(data){

              window.location.hash = '#'+targ //Set the url hash
                var table = $("#"+targ).html(data)
                table.css({
                  'font-size':'14px',
                  'text-align':'left'
                }) //put in the data

                var headers = $(table).find('thead tr th a')

                headers.each(function(index, item){
                  //use the current text value as the key to pull out the
                  //correct abbreviation and set it in as the text
                  //while the text value becomes the title

                  header = $(item)
                  text = header.text()

                  //If this is the User report Page, do something special
                  //since we cannot differentiate between userTypes
                  if(targ=='user-report'){
                      var userTypeText = [
                        'Clinic W. Reg.',
                        'Clinic W. Actv.',
                        'Err. Clinic W.',
                        'D. Clerks Reg.',
                        'D. Clerks Actv.',
                        'Err. D. Clerks',
                        'Cbas Reg.',
                        'Cbas Actv.',
                        'Err. Cbas'
                      ]
                      text = userTypeText[index]
                  }

                  abv = abbv[text.trim()]
                  header.attr('title', abv)
                  //header.text()
                });

                var head = table.find('thead')
                var table_groups
                if (targ =='anc-report'){
                  var table_groups = $(
                    "<th colspan='2'></th><th colspan='3'>ANC Visits</th><th colspan='3'>Birth Location</th><th colspan='1'>Gestational Age</th>")
                } else if (targ == 'pnc-report'){
                  var table_groups = $(
                    "<th colspan='2'></th><th colspan='2'>Birth Location</th><th colspan='3'>PNC Visits</th>")
                } else if (targ == 'user-report'){
                  var table_groups = $(
                    "<th colspan='3'>Clinic Workers</th><th colspan='3'>Data Clerks</th><th colspan='3'>Community Based Agents</th>")
                }

                if (table_groups){
                  head.prepend("<tr></tr>").prepend(table_groups)
                }


            });


          });

        var hash = location.hash
          , hashPieces = hash.split('?')
          , activeTab = $('[href=' + hashPieces[0] + ']');
        if (!hash){
          activeTab  = $('[href=#anc-report]')
        }
        activeTab.tab('show');
    });
  </script>
{% endblock %}

{% block page_tabs %}
 {% include "smgl/includes/message_panel_subnav.html" %}
{% endblock %}

{% block content %}

<div class="statistics module">
<h2>Reports</h2>
  <form action="" method="GET" id="sms-records-form" >
    <table>
      <thead>
        <tr>
          <th colspan="2">Period</th>
          <th colspan="3">Location</th>
          <th colspan="1">Filter</th>
          <th colspan="2">User</th>
        </tr>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Province</th>
          <th>District</th>
          <th>Facility</th>
          <th>Filter</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ form.start_date.errors}}
            {{ form.start_date }}
          </td>
          <td>
            {{ form.end_date.errors}}
            {{ form.end_date }}
          </td>
          <td>
            {{ form.province.errors}}
            {{ form.province }}
          </td>
          <td>
            {{ form.district.errors}}
            {{ form.district }}
          </td>
           <td>
             {{ form.facility.errors}}
             {{ form.facility }}
           </td>
           <td>
             {{ form.filter_option.errors}}
             {{ form.filter_option }}
           </td>
          <td>
            {{ form.c_type.errors}}
            {{ form.c_type }}
          </td>
          <td>
            {{ form.status.errors }}
            {{ form.status }}
          </td>
        </tr>
      </tbody>
    </table>
      <input type="submit" class="btn" name="filter" value="Filter" />
      <!--<input type="submit" class="btn" name="export" value="Export" />-->
  </form>
  {{ form.media.js }}
<div class="row-fluid">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li><a href="#anc-report" data-toggle="tab">ANC Report</a></li>
        <li><a href="#pnc-report" data-toggle="tab">PNC Report</a></li>
        <li><a href="#reminder-report" data-toggle="tab">Reminders Report(Mothers)</a></li>
        <li><a href="#reminder-report-smag" data-toggle="tab">Reminders Report (SMAG)</a></li>
        <li><a href="#referral-report" data-toggle="tab">Referral Report</a></li>
        <li><a href="#user-report" data-toggle="tab">User Report</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="anc-report"></div>
        <div class="tab-pane" id="pnc-report"></div>
        <div class="tab-pane" id="reminder-report"></div>
        <div class="tab-pane" id="reminder-report-smag"></div>
        <div class="tab-pane" id="referral-report"></div>
        <div class="tab-pane" id="user-report"></div>

      </div>
</div>
  <div class="row-fluid" style="padding:8px;">
    <p style="color:red;">**The Option Filter will only apply on the ANC report table as follows:</p>
    <ul>
      <li><b>Option 1</b>: All women who have Pregnancy registrations AND gave birth
      OR had EDD scheduled within the specified time frame</li>
      <li><b>Option 2</b>: All women who gave birth or had EDD within specified time frame</li>
    </ul>
    <p>**The User Type and Status will only apply on the User report table</p>
  </div>
</div>

  <script type="text/javascript">
    $(document).ready(function() {
        function newDistrictParameters(query) {
            query.province = $('#id_province_1').val();
        }
        $('#id_district_0').djselectable('option', 'prepareQuery', newDistrictParameters);
        function newFacilityParameters(query) {
            query.district = $('#id_district_1').val();
        }
        $('#id_facility_0').djselectable('option', 'prepareQuery', newFacilityParameters);
    });
</script>

{% endblock %}
