{% extends  "layout.html" %}
{% load djtables_tags %}
{% load url from future %}

{% block title %}Summary Report- {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/smoothness/jquery-ui-1.9.1.custom.min.css">
{{ form.media.css }}

{% endblock %}

{% block javascripts %}
  <script src="{{ STATIC_URL }}smgl/js/jquery-1.8.2.min.js"></script>
  <script src="{{ STATIC_URL }}smgl/js/jquery-ui-1.9.1.custom.min.js"></script>
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker();
        $( "#id_end_date" ).datepicker();
    });
  </script>
{% endblock %}

{% block content %}

<div class="statistics module">
  <h2>Filtering</h2>
  <form action="" method="GET" >
    <table>
      <thead>
        <tr>
          <th colspan="2">Period</th>
        </tr>
        <tr>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ form.start_date.errors}}
            {{ form.start_date }}
          </td>
          <td>
            {{ form.end_date.errors}}
            {{ form.end_date }}
          </td>
        </tr>
      </tbody>
    </table>
      <input type="submit" class="btn" name="filter" value="Filter" />
      <input type="submit" class="btn" name="export" value="Export" />
  </form>
  <h2>{{ user.name }}'s SMS Statistics</h2>
  <p><a href="{% url 'sms-user-history' user.name %}">Back to User</a></p>
  <div id="records">
    {{ summary_report_table.as_html }}
  </div>
</div>
{% endblock %}
