{% extends  "layout.html" %}
{% load djtables_tags %}
{% load url from future %}
{% load selectable_tags %}
{% block title %}Summary Report- {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}smgl/css/statistics.css" />
{% include_ui_theme %}
{{ form.media.css }}

{% endblock %}

{% block javascripts %}
{% include_jquery_libs %}
  <script>
      $(function() {
        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  </script>
{% endblock %}

{% block content %}

<div class="statistics module">
  <h2>Filtering</h2>
  <form action="" method="GET" >
    <table>
      <thead>
        <tr>
          <th colspan="2">Period</th>
        </tr>
        <tr>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ form.start_date.errors}}
            {{ form.start_date }}
          </td>
          <td>
            {{ form.end_date.errors}}
            {{ form.end_date }}
          </td>
        </tr>
      </tbody>
    </table>
      <input type="submit" class="btn" name="filter" value="Filter" />
      <input type="submit" class="btn" name="export" value="Export" />
  </form>
  <h2>{{ user.name }}'s SMS Statistics</h2>
  <p><a href="{% url 'sms-user-history' user.id %}">Back to User</a></p>
  <div id="records">
    {{ summary_report_table.as_html }}
  </div>
</div>
{% endblock %}
