{% extends "layout.html" %}
{% block title %}mUbumi Development - {{ block.super }}{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}smgl/css/statistics.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}smgl/css/smoothness/jquery-ui-1.9.1.custom.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}smgl/css/zcahrd_style.css">
<style type="text/css">
	#branding h1 a span{
		font-size: 1.6em;
		text-align:center;
	}

	#branding h1 a:hover{
		text-decoration: none;
		text-align:center;
	}
	.suggestion-item{
		padding-top:7px;
	}
</style>
{% endblock %}


{% block content %}
	<div class="col-md-10 col-md-offset-1">
		<h3 style="text-align: center">{{ suggestion.title }}</h3>
		<p>{{ suggestion.text|linebreaks }}</p>

		<p>

			<b>Attached</b>:
			{% for attached_file in suggestion.attached_files.all %}
				{% if attached_file.file %}
					<a href="{{ attached_file.file.url }}">{{ attached_file.original_name }}</a>
				{% endif %}
			{% endfor %}
		</p>
		<p>
			<b>Authors</b>: {{ suggestion.get_authors_names }}
		</p>
		<p><b>Status</b>: {{suggestion.get_status}}</p>
		{% if suggestion.close_comment %}
			<p><b>Comment: </b> {{ suggestion.close_comment }}</p>
		{% endif %}
		<p><b>Created</b>: {{ suggestion.created_time}}</p>
		<p><b>Last Edited</b>: {{ suggestion.last_edited_time }}</p>
		<a href="{% url suggestions-edit suggestion.id %}" class="btn btn-info col-md-6">Edit</a>
		<a href="{% url suggestions-list %}" class="btn btn-default col-md-6">Back to List</a>
	</div>
{% endblock %}
