
{% extends "layout.html" %}
{% load forms_tags %}

{% block title %}Stock{{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}

<style type="text/css">
    table{
        border: 0px;
    }
    td, th{
        border: 0px;
    }
    #wrapper {
        background: none repeat scroll 0 0 #FFFFFF;
        box-shadow: 4px 4px 8px #AAAAAA;
        margin: 0.5em auto 0;
        width: 90%;
    }
    .table-wrapper {
        position:relative;
    }
    .table-scroll {
        height:200px;
        overflow:auto;
        margin-top:20px;
    }
    .button {
        padding: 4px 12px;
        border-radius: 4px;
    }
</style>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}reports/stylesheets/tabs.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}reports/stylesheets/jquery-ui-1.10.2.redmond.min.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}reports/stylesheets/chosen.css" />
{% endblock %}



{% block content %}

<form name="getValues" action="" method="POST">{% csrf_token %}

    <table border="0" width="100%" >
        <!--                <tr>
                            <td  >what goes here</td>
                            <td></td>
                        </tr>-->
        <tr>
            <td width="60%">
                <div class="module">
                    <div id="container1" style="min-width: 400px; height: 400px; margin: 0 auto" class="module">Select the location/District you want to view data own.
                        The selection widget is at the far right. The following districts have data to view: {{districts_with_data}}
                    </div>
                    <hr>
                    <!--            <h3>Supplied Stock</h3>-->

                    <div id="container2" style="min-width: 400px; height: 400px; margin: 0 auto" class="module">Select the location/District you want to view data own.
                        The selection widget is at the far right. The following districts have data to view: {{districts_with_data}}
                    </div>
                </div>
            </td>
            <td style="text-align: left; float: right" width="40%">
                <input type="text" id="startdate" name="startdate"  class="datefield" size="9" value='{{ fstart_date }}' placeholder='{{ fstart_date }}' />
                to <input type="text" id="enddate" name="enddate"  class="datefield" size="9" value='{{ fend_date }}'  placeholder='{{ fend_date }}' />
                <input class="button" type="submit" value="Ok" name="SubmitValues" onclick="document.getElementById('update_user_incidents').value = '';" />
                <hr>
                <div class="module" style="padding-bottom: 0.5em"><h3>Locations</h3></div>
                {% autoescape off %}
                {{ rpt_districts }}
                {% endautoescape %}
                <div class="table-wrapper">
                    <div class="table-scroll">
                        <table id="facilitygrid"></table>
                    </div>
                </div>
                <hr>
                <div class="module"><h3>Stock Items</h3></div>
                <div class="table-wrapper">
                    <div class="table-scroll">
                        <table>
                            {% autoescape off %}
                            {{ stock_selection_grid }}
                            {% endautoescape %}</table>
                    </div>
                </div>
            </td>

        </tr>
    </table>
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/jquery-1.8.0.min.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/jquery-ui-1.8.23.custom.min.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/jquery.flippy.min.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/excanvas.min.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/chosen.jquery.min.js" ></script>
<script type="text/javascript"  src="{{ MEDIA_URL }}reports/javascripts/highcharts.js"></script>
<script type="text/javascript"  src="{{ MEDIA_URL }}reports/javascripts/modules/exporting.js"></script>


<script type="text/javascript">
    window.fstart_date = '{{fstart_date2}}';
    window.fend_date = '{{fend_date2}}';
    var _facilityData = [];
    {% for location in facilities %}
    _facilityData.push({
        province_slug: '{{location.parent.parent.slug}}',
        province_name: '{{location.parent.parent.name}}',
        district_slug: '{{location.parent.slug}}',
        district_name: '{{location.parent.name}}',
        facility_slug: '{{location.slug}}',
        facility_name: '{{location.name}}'
    });
    {% endfor %}

   
    window.facilityData = _facilityData;

    var _stockData = [];
    {% for stock in stocks %}
    _stockData.push({
        stockId: '{{stock.id}}',
        stockCode: '{{stock.code}}',
        stockName: '{{stock.name}}',
    });
    {% endfor %}

    window.stockData = _stockData;

    
    var _facilityAvailableStockData = [];
    {% for sa in stockAccounts %}
    _facilityAvailableStockData.push({
        stockId: '{{sa.stock.id}}',
        stockCode: '{{sa.stock.code}}',
        stockName: '{{sa.stock.name}}',
        locationSlug: '{{sa.location.slug}}',
        amount: {{sa.amount}},
        currentThreshold: {{sa.current_threshold}},
    });
    {% endfor %}

    window.facilityAvailableStockData = _facilityAvailableStockData;

    var _suppliedStock = [];
    {% for sa in supplied_stock %}
    _suppliedStock.push({
        stockId: '{{sa.stock_account.stock.id}}',
        stockCode: '{{sa.stock_account.stock.code}}',
        stockName: '{{sa.stock_account.stock.name}}',
        locationSlug: '{{sa.stock_account.location.slug}}',
        amount: {{sa.supplied_amount}},
        thresholdLevel: {{sa.threshold_level}},
    });
    {% endfor %}

    window.suppliedStock = _suppliedStock;

    window.onload = function(){firerpt_districtsChange()}

</script>


<script type="text/javascript">
    function firerpt_districtsChange(){
        var districtDropDown = document.getElementById('rpt_districts');
        var districtSlug = districtDropDown.options[districtDropDown.selectedIndex].value
        updateFacilitySelectionGrid(districtSlug, [])
        reloadGraphs()
    }
    
    function updateFacilitySelectionGrid(districtSlug, selected_facilities){
        var code = "";
        var width = 2;
        var column = 1;
        for(item in window.facilityData){
            var datum = window.facilityData[item]
            if(districtSlug === datum.district_slug){

                if (column === 1){
                    code += '<tr>';
                }

                //                if (datum.facility_slug in selected_facilities){
                code = code + '<td><input type="checkbox" onchange="reloadGraphs()"  name="_select_facility" value="'+datum.facility_slug+'" checked="checked" parent_id="'+datum.district_slug+'"  />'+datum.facility_name+'</td>'
                //                }

                //                else{
                //                    code = code + '<td><input type="checkbox" name="_select_facility" value="'+datum.facility_slug+'" parent_id="'+datum.district_slug+'"  />'+datum.facility_name+' ('+datum.facility_slug+')</td>\n'
                //                }

                if (column % width === 0){
                    code += '</tr>';
                }
                column += 1

            }
            //                alert(window.facilityData[item].facility_name);
        }
        document.getElementById("facilitygrid").innerHTML = code
        try{
            var flip_direction = 'BOTTOM';
            
            $("#facilitygrid").flippy({
                duration: "500",
                verso: code,
                direction: flip_direction
            });
        }
        catch(error){
            //do something
        }
    }
    
</script>
<script type="text/javascript" >
    $(function(){
        $(".datefield").datepicker({ dateFormat: 'yy-mm-dd' });
        $.datepicker.formatDate;
    });
</script>
<script type="text/javascript">
    $(".drop-down").chosen();
    $(".chzn-single").css('width','207px');
    $(".chzn-drop").css('width','205px');
    $(".chzn-search input").css('width','170px');
    $(".chzn-container").css('width','220px');


</script>

<script type="text/javascript">
    function getAvailableStockValues(locationSlug, stockId){
        for(var item in window.facilityAvailableStockData){
            var datum = window.facilityAvailableStockData[item]
            if(datum.locationSlug === locationSlug && datum.stockId == stockId){
                return datum.amount;
            }
        }

        return 0;
    }

    function getSuppliedStockValues(locationSlug, stockId){
        for(var item in window.suppliedStock){
            var datum = window.suppliedStock[item]
            if(datum.locationSlug === locationSlug && datum.stockId == stockId){
                return datum.amount;
            }
        }

        return 0;
    }

    //window.locs = []
    function getAvgAvailableStockValues(locationSlug, total){
       
        var sum = 0;
        for(var item in window.facilityAvailableStockData){
            var datum = window.facilityAvailableStockData[item]
            if(datum.locationSlug === locationSlug){
                sum += datum.amount;
                //window.locs.push(datum.locationSlug)
            }
        }

        if(total > 0){
            return Math.round(sum/total);
        }

        return 0;
    }

    function getAvgCurrentThreshold(locationSlug, stockIds){

        var sum = 0;
        var total = 0;
        for(var item in window.facilityAvailableStockData){
            var datum = window.facilityAvailableStockData[item]
            if(datum.locationSlug === locationSlug && stockIds.indexOf(datum.stockId) > -1){
                sum += datum.currentThreshold;
                total += 1
            }
        }

        if(total > 0){
            return Math.round(sum/total);
        }

        return 0;
    }

    function getAvgThreshold(locationSlug, stockIds){

        var sum = 0;
        var total = 0;
        for(var item in window.suppliedStock){
            var datum = window.suppliedStock[item]
            if(datum.locationSlug === locationSlug && stockIds.indexOf(datum.stockId) > -1){
                sum += datum.thresholdLevel;
                total += 1
            }
        }

        if(total > 0){
            return Math.round(sum/total);
        }

        return 0;
    }
    function reloadGraphs(){
        reloadAvailableStock();
        reloadSuppliedStock();
    }

    function getSelectedIds(locationIds) {
        $("[name='_select_facility']").each(
        function () {
            if (this.checked) {
                locationIds.push(this.value)
            }
        });
    }
    function getSelectedNames(locationIds, facilityNames) {
        for (item in window.facilityData) {
            var datum = window.facilityData[item]
            if (locationIds.indexOf(datum.facility_slug) > -1) {
                facilityNames.push(datum.facility_name)
            }
        }
    }
    function getSelectedStockIds(stockIds) {
        $("[name='_select_stock']").each(
        function () {
            if (this.checked) {
                stockIds.push(this.value)
            }
        });
    }
    function getselectedStocknames(stockIds, stockNames) {
        for (item in window.stockData) {
            var datum = window.stockData[item]
            if (stockIds.indexOf(datum.stockId) > -1) {
                stockNames.push([datum.stockId, datum.stockName])
            }
        }
    }
    function setSelectedValues(locationIds, facilityNames, stockIds, stockNames) {
        getSelectedIds(locationIds);
        getSelectedNames(locationIds, facilityNames);
        getSelectedStockIds(stockIds);
        getselectedStocknames(stockIds, stockNames);
    }
    function fillPieData(seriesData, pieSeriesTitle, pieData) {
        seriesData.push({
            type: 'pie',
            name: pieSeriesTitle,
            data: pieData,
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        });
    }
    function fillAverageTrend(seriesData, avarageTrend, averageData) {
        seriesData.push({

            type: 'spline',
            name: avarageTrend,
            data: averageData,
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        });
    }
    function drawChart(chart, renderTo, mainChartTitle, facilityNames, pieChartTitle, seriesData) {
        $(document).ready(function () {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: renderTo
                },
                title: {
                    text: mainChartTitle
                },
                xAxis: {
                    categories: facilityNames
                },
                tooltip: {
                    formatter: function () {
                        var s;
                        if (this.point.name) { // the pie chart
                            s = '' +
                                this.point.name + ': ' + this.y + ' stock units';
                        } else {
                            s = '' +
                                this.series.name + ': ' + this.y;
                        }
                        return s;
                    }
                },
                labels: {
                    items: [
                        {
                            html: pieChartTitle,
                            style: {
                                left: '40px',
                                top: '8px',
                                color: 'black'
                            }
                        }
                    ]
                },
                series: seriesData


            });
        });
    }
    function reloadAvailableStock () {
        var chart;
        var locationIds = [];
        var facilityNames = []
        var stockIds = []
        var stockNames = []

        setSelectedValues(locationIds, facilityNames, stockIds, stockNames);
        var seriesData = [];
        var pieData = [];
        var averageData = [];
        for(var i in stockNames){
            var _name = stockNames[i];
            var stockPerLocation = []
            var stockTotal = 0;

            for(var loc in locationIds){
                var val = getAvailableStockValues(locationIds[loc], _name[0]);
                stockPerLocation.push(val);
                stockTotal += val;
            }
            seriesData.push({
                type: 'column',
                name: _name[1],
                data: stockPerLocation
            });
            pieData.push({
                name: _name[1],
                y: stockTotal
            });
        }

        for(var loc in locationIds){
            var val = getAvgCurrentThreshold(locationIds[loc], stockIds);
            averageData.push(val);
        }

        var averageTrend = 'Average Threshold';
        fillAverageTrend(seriesData, averageTrend, averageData);

        var pieSeriesTitle = 'Total consumption';
        var renderTo = 'container1';
        var mainChartTitle = 'Available Stock Today';
        var pieChartTitle = 'Total stock available';

        drawChart(chart, renderTo, mainChartTitle, facilityNames, pieChartTitle, seriesData);

    };
    
    function reloadSuppliedStock () {
        var chart;
        var locationIds = [];
        var facilityNames = []
        var stockIds = []
        var stockNames = []

        setSelectedValues(locationIds, facilityNames, stockIds, stockNames);
        var seriesData = [];
        var pieData = [];
        var averageData = [];
        for(var i in stockNames){
            var _name = stockNames[i];
            var stockPerLocation = []
            var stockTotal = 0;

            for(var loc in locationIds){
                var val = getSuppliedStockValues(locationIds[loc], _name[0]);
                stockPerLocation.push(val);
                stockTotal += val;
            }
            seriesData.push({
                type: 'column',
                name: _name[1],
                data: stockPerLocation
            });
            pieData.push({
                name: _name[1],
                y: stockTotal
            });
        }

        for(var loc in locationIds){
            var val = getAvgThreshold(locationIds[loc], stockIds);
            averageData.push(val);
        }

        var averageTrend = 'Average Threshold';
        fillAverageTrend(seriesData, averageTrend, averageData);

        var pieSeriesTitle = 'Total Supplied';
        var renderTo = 'container2';
        var mainChartTitle = 'Supplied Stock (' + window.fstart_date + ' - ' + window.fend_date + ')';
        var pieChartTitle = 'Total supplied stock';

        drawChart(chart, renderTo, mainChartTitle, facilityNames, pieChartTitle, seriesData);

    };
</script>

{% endblock %}
