{% extends "base.html" %}
{% load i18n %}
{% block title %}AnthroWatch Analysis - RapidSMS for Health{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}malawi/stylesheets/daterangepicker-bs2.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}labresults/stylesheets/labresults.css" type="text/css" media="screen" />
<style type="text/css" media="print">
    div.pagebreak {
        display: block;
        page-break-after: always;
    }
</style>
<style type="text/css" media="screen">
    div.pagebreak {
       display: none;
    }
    #options {
        padding:0 1em 20px;
    }

    #options table {
        border:0;
    }

    #options td {
        border:0;
        white-space:nowrap;
    }

    p {
        width:700px;
        text-align:right;
        margin-left:auto;
        margin-right:auto;
        padding:20px 0 30px;
    }

    label,input[type=text] {
        float:left;
        display:block;
    }

    label {
        font-weight:700;
    }

    #underweight_chart,#underweight_table,#stunting_chart,#stunting_table,
    #wasting_chart,#wasting_table {
        margin-left:auto;
        margin-right:auto;
    }

    td,th {
        border:1px solid #aaa;
        font-weight:400;
        text-align:left;
        padding:.5em;
    }

    tbody th,tbody td {
        border-color:#aaa;
    }

    tbody tr:first-child th,tbody tr:first-child td {
        border-top-color:#aaa;
    }

    tbody th:first-child,tbody td:first-child {
        border-left-color:#aaa;
    }

    tbody th:last-child,tbody td:last-child {
        border-right-color:#aaa;
    }

    tbody tr:last-child th,tbody tr:last-child td {
        border-bottom-color:#aaa;
    }
</style>
{% endblock stylesheets %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart','table']});
</script>
<script type="text/javascript">
    // variables for ids
        var weight = "underweight_chart";
        var stunt = "stunting_chart";
        var wasting = "wasting_chart";


    function drawPercentCharts() {
        var weight_data_percent = {{weight_data_percent|safe}};
        var xaxis = "Percentage % of reported values";
        var stunt_data_percent = {{stunt_data_percent|safe}};
        var wasting_data_percent = {{wasting_data_percent|safe}};
        var chart_type = "percent";

        drawChart(weight_data_percent, xaxis, weight, chart_type);
        drawChart(stunt_data_percent, xaxis, stunt, chart_type);
        drawChart(wasting_data_percent, xaxis, wasting, chart_type);
    }

    function drawValueCharts(){
        var weight_data = {{weight_data|safe}};
        var xaxis = "Number of reported values";
        var stunt_data = {{stunt_data|safe}};
        var wasting_data = {{wasting_data|safe}};
        var chart_type = "values"

        drawChart(weight_data, xaxis, weight, chart_type);
        drawChart(stunt_data, xaxis, stunt, chart_type);
        drawChart(wasting_data, xaxis, wasting, chart_type);
    }
    
    function drawChart(weight_data, xaxis, chart_id, chart_type) {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        var raw_data = weight_data;
        
        var districts = {{locations|safe}};
        
        var chart_height = districts.length * 100;

        data.addColumn('string', 'Locations');
        for (var i = 0; i  < raw_data.length; ++i) {
            data.addColumn('number', raw_data[i][0]);    
        }
        
        data.addRows(districts.length);
        
        for (var j = 0; j < districts.length; ++j) {    
            data.setValue(j, 0, districts[j].toString());    
        }
        for (var i = 0; i  < raw_data.length; ++i) {
            for (var j = 1; j  < raw_data[i].length; ++j) {
                data.setValue(j-1, i+1, raw_data[i][j]);    
            }
        }


        if (chart_type == "percent") {
        
            // Format the data.
            var formatter = new google.visualization.NumberFormat({
                fractionDigits: 1,
                suffix: '%'
            });
    
            for (var i = 0; i <= raw_data.length; ++i) {
                 formatter.format(data, i);
            }
    
        }

        // Give appropriate colors to chart types
        if (chart_id == "underweight_chart") {
            var colors_list = ['#9c8aa5', '#0077bb', '#00cd00','#fee01e', '#dd7500', '#cd0000'];
        }else {
            var colors_list = ['#00cd00','#fee01e', '#dd7500', '#cd0000'];
        }

        // Create and draw the visualization.
        new google.visualization.BarChart(document.getElementById(chart_id)).
            draw(data,
                 {title:"",
                  width:'100%', height: {{ chart_height }},
                  colors: colors_list,
                  hAxis: {title: xaxis},
                  vAxis: {title: "Location"}}
                );
    }

    google.setOnLoadCallback(drawPercentCharts);

</script>

<script type="text/javascript" src="{{ STATIC_URL }}malawi/javascripts/moment.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}malawi/javascripts/daterangepicker.js"></script>
{% endblock javascripts %}

{% block content %}
<div class="span12">

<div class="page-header">
  <h1>AnthroWatch Analysis</h1>
</div>
<!-- <h3>Report Options</h3> -->
<form method="GET" id="remindmi_options" action="">
<div class="well flush row-fluid">
  <div class="span12">
    <!-- Legend ? -->
    <div class="row-fluid">
      <div class="span4">
	<!-- r1c1 -->
	<label for="location">Location:</label>
	<select name="location" id="location" value="{{location}}" class="pull-right">
          <option value="All Districts"  
                  {% ifequal selected_location "All Districts" %}
                  selected="selected" 
                  {% endifequal %}>All Districts</option>
          {% for location in districts %}
          <option value="{{ location }}"
		  {% ifequal selected_location location %} 
		  selected="selected" 
		  {% endifequal %}>{{ location }}</option>
	  {% endfor %}
        </select>	
	<div class="row-fluid">
	  <div class="span12">
	    <br />
	    <!-- r2c1 -->
	    <label for="startage">Age from (months):</label>
	    <input type="textbox" name="startage" value="{{ startage }}" id="{{startage}}" class="pull-right"/>
	  </div>
	</div>
      </div>
      <div class="span4">
	<!-- r1c2 -->
	<label for="gender">Gender:</label>
	<select name="gender" id="gender" value="" class="pull-right">
	  {% for key, value in gender_opts.items %}
	  <option value="{{ value }}"
	          {% ifequal selected_gender value %}
	          selected="selected"
	          {% endifequal %}>{{ key }}</option>
	  {% endfor %}
	</select>
	<div class="row-fluid">
	  <div class="span12">
	    <br />
	    <!-- r2c2 -->
	    <label for="endage">Age to (months):</label>
	    <input type="textbox" name="endage" value="{{ endage }}" id="{{endage}}" class="pull-right"/>
	  </div>
	</div>
      </div>
      <div class="span4">
	<!-- r1c3 -->
	<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
	  <i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>
	  <span></span> <b class="caret"></b>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}malawi/javascripts/reportrange.js"></script>
	<div class="row-fluid">
	  <div class="span12">
	    <br />
	    <!-- r2c3 -->
	    <input type="hidden" name="startdate" value='{{startdate}}' id="startdate" />
	    <input type="hidden" name="enddate" value='{{enddate}}' id="enddate" />
	    <button type="submit" class="btn btn-primary pull-right" id="update_report" name="update_report">Update Report</button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
</form>
 
	<div class="module">
	  
	<div id="graphs" class="module">
	</div> 
	<div class="pagebreak"></div>

	<div class="module">
		<h2>No data available</h2>
		<p>There is currently no data (growth monitoring reports) available from this district.</p>
	</div>

	<p>Categorization is according to <a href="http://www.who.int/childgrowth/en/">WHO Child Growth Standards</a></p>
	</div>
	</div>
{% endblock content %}
