#inner .col-1 { width: 35%; }
#inner .col-2 { width: 65%; }

.module div#map { height: 300px; }

#inner div.split-3 {
    padding:0 1em;
}
#inner div.split-3 .left {
	border:medium none;
	float:left;
	margin-left:-1em;
	width:33%;
}
#inner div.split-3 .mid {
	border:medium none;
	float:left;
	margin-left:1em;
	margin-right:1em;
	width:34%;
}
#inner div.split-3 .right {
	border:medium none;
	float:right;
	margin-right:-1em;
	width:33%;
}
.module {
    /* background: #f8f8f8; */
}

.module.map {
}

.module ul,
.module li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.module ul {
    padding: 0.5em;
    padding-top: 0;
    margin: 0.5em 0;
    overflow-y: auto;
    overflow-x: auto;
}

.module li {
    display: block;
    border: 1px solid #ddd;
    margin-top: 0.5em;
    padding: 0.5em;
    background: #fff;
}

.module li:first-child {
    margin-top: 0; }

.module li div.meta,
.module li div.caption {
}

.module li div.report span {
    font-size: 2em;
    line-height: 1.2;
    border-right: 1px dotted #eee;
    margin-right: 0.25em;
    padding-right: 0.25em;
}

ul.reports {
}

ul.reports div.report span strong {
    font-weight: normal;
    background: #ffd;
}

ul.reports div.meta {
    color: #aaa;
}


ul.stats {
    text-align: left;
}

ul.stats li span {
    font-size: 50%;
    color: #444;
}

ul.stats li span.total {
    font-size: 100%;
}

.split-3, .split-2 {
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
   font-size: 24px;
}
h2 {
   font-size: 21px;
}
h3 {
   font-size: 18px;
}
h4 {
   font-size: 15px;
} 
h5 {
   font-size: 13px;
}
h6 {
   font-size: 12px;
}

div.module div.toolbar a, div.module div.toolbar span {
   color: #444;
}