<ul id="tabs">{% for tab in tabs %}{% if tab.visible %}
        <li class="app-{{ tab.caption_slug }}{% if tab.is_active %} active{% endif %}">
                <a href="{{ tab.url }}"><span>{{ tab.caption }}</span></a>
        </li>{% endif %}{% endfor %}
</ul>



<ul id="page-tabs">
    {% with current_url=request.get_full_path %}
    <li class="{% if current_url == "/smgl/statistics/" %}active{% endif %}">
      <a href="{% url statistics %}"><span>National</span></a>
    </li>
    <li class="{% if current_url == "/smgl/reminder-stats/" %}active{% endif %}">
      <a href="{% url reminder-stats %}"><span>Reminder Stats</span></a>
    </li>
    {% comment %}
    <li class="{% if current_url == "/smgl/report/" %}active{% endif %}">
      <a href="{% url report-stats %}"><span>Report</span></a>
    </li>
    {% endcomment %}
    {% endwith %}
</ul>
