{% extends "layout.html" %}
{% load forms_tags %}

{% block title %}{{model}} - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}reports/stylesheets/chosen.css" />

{% endblock %}
{% block javascripts %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/jquery-1.8.0.min.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/chosen.jquery.min.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/location_selector.js" ></script>

{% endblock %}
{% block content %}


<div class="left">
    <form name="getValues" action="" method="GET">
        <div class="module">
            <h2>Supported Sites</h2>
        <br>
        {% if region_selectable %}
        <p>Select Region: &nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Province&nbsp;: {% autoescape off %}
            {{rpt_provinces}}
            {% endautoescape %}&nbsp;
            or District:{% autoescape off %}
            {{rpt_districts}}
            {% endautoescape %}&nbsp;
            
            {% if is_report_admin %}
        <p>Select Implementer:
            {% autoescape off %}
            {{rpt_group}}
            {% endautoescape %}
            &nbsp;
            {%endif%}
            {%endif%}

            &nbsp;&nbsp;&nbsp; <input type="submit" value="Ok" name="SubmitValues" />
        <hr>
        <div>


            <h3>
                Implementer:{{ implementer }}&nbsp;&nbsp;&nbsp;&nbsp;Province: {{ province }}&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;District: {{ district }}&nbsp;&nbsp;&nbsp;

            </h3>

                <table width="100%">

                    <tr>
                        <th>#</th>
                        <th>Login Name</th>
                        <th>
                            <a href="?ot=asc&amp;o=1">
                                Full Name
                            </a></th><th>
                                Email
                            </th><th>
                            Groups
                            </th><th>
                            <a href="?ot=asc&amp;o=6">
                                Last Login
                            </a></th><th>
                            <a href="?ot=asc&amp;o=8">
                                Days ago
                            </a></th>
                    </tr>

                    {% for record in records %}
                    <tr  bgcolor="{% cycle #EDF3FE,#ffffff %}">
                        <td>{{ forloop.counter|add:offset }}</td>
                        <td>{{ record.username }}</td>
                        <td>{{ record.first_name }} {{ record.last_name }}</td>
                        
                        <td>{{ record.email }}</td>
                        <td>{% for type in record.groupusermapping_set.all%}
                            {{ type.group.name }}  
                            {% endfor %}</td>
                        <td>{{ record.last_login|date:"d F Y" }}</td>
                        <td>{{ record.last_login|timesince }}</td>              -->
                    </tr>

                    {% endfor %}

                </table>

            </div>
            <div class="clear-hack"></div>
        </div>

   
        <div class="pagination">
            <span class="step-links">
                {% if has_previous %}
                <input type="submit" value="Previous" name="navigate" />
                {% endif %}

                <span class="current">
                    Page {{ number }} of {{ num_pages }}.
                </span>

                {% if has_next %}
                <input type="submit" value="Next" name="navigate" size="8" />
                {% endif %}
                <input type="hidden" name="page" value={{ number }}>
            </span>

        </div>
    </form>
</div>

<script type="text/javascript">
    $("#rpt_group").chosen();
</script>

{% endblock %}