{% extends "layout.html" %}
{% load forms_tags %}

{% block title %}{{model}} - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}

<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}reports/stylesheets/tabs.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}reports/stylesheets/jquery-ui-1.10.2.redmond.min.css" />
{% endblock %}


{% block javascripts %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/jquery-1.8.0.min.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/location_selector.js" ></script>
<script type="text/javascript">
    function tab(tab) {
        document.getElementById('tab1').style.display = 'none';
        document.getElementById('tab2').style.display = 'none';
        document.getElementById('li_tab1').setAttribute("class", "");
        document.getElementById('li_tab2').setAttribute("class", "");
        document.getElementById(tab).style.display = 'block';
    }
</script>
{% endblock %}

{% block content %}


<div class="left">
    <form name="getValues" action="" method="POST">{% csrf_token %}
        <div class="module">
            <h2>Trained People</h2>

            <table border="0">
                <tbody>
                    <tr>
                        <td style="border: 0px">
                            <div id="Tabs">
                                <ul>
                                    <li id="li_tab1" onclick="tab('tab1')" ><a>Chart</a></li>
                                    <li id="li_tab2" onclick="tab('tab2')"><a>Add Trained</a></li>
                                </ul> </div>
                        </td>

                    </tr>
                    <tr>
                        <td valign="top" style="border: 0px" width="100%">
                            <div id="id">
                                <div id="tab1" >
                                    <p></p>
                                    <table border="0" width="100%">

                                        <tbody>
                                        <thead>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Province</th>
                                        <th>District</th>
                                        <th>Facility</th>
                                        <th></th>
                                        </thead>
                                        <tr>
                                            <td><input type="text" id="startdate" name="startdate" class="datefield" size="9" value='{{ fstart_date }}' placeholder='{{ fstart_date }}' />
                                            <td><input type="text" id="enddate" name="enddate" class="datefield" size="9" value='{{ fend_date }}'  placeholder='{{ fend_date }}' /></td>
                                            <td>{% autoescape off %}
                                                {{rpt_provinces}}
                                                {% endautoescape %}
                                            </td>
                                            <td>{% autoescape off %}
                                                {{rpt_districts}}
                                                {% endautoescape %}
                                            </td>
                                            <td>{% autoescape off %}
                                                {{rpt_facilities}}
                                                {% endautoescape %}
                                            </td>
                                            <td> <input type="submit" value="Ok" name="Ok" /> </td>
                                        </tr>
                                        </tbody></table>
                                    <p>
                                        Click the bars for the SMS user types to see who trained them. Click again to get back to the SMS users.
                                    <div id="container" style="min-width: 800px; height: auto; margin: 0 auto"></div>
                                </div>
                                <div id="tab2" style="display: none;">
                                    <p></p>
                                    <h3>Create New {{ model }}</h3>

                                    <br>
                                    {%if confirm_message%}
                                    <div id="confirm" style="background: #FFFFCC; border: 1px solid #DDDDDD; padding: inherit">
                                        {{confirm_message}}
                                    </div>
                                    {% endif %}
                                    <table border="0">
                                        {% for field in form %}
                                        <tr>
                                            <td style="border: 0">{{ field.label_tag }}</td><td style="border: 0"></td>
                                            <td style="border: 0">{{ field }}</td><td style="border: 0">{{ field.errors }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <p><input type="submit" value="Submit" /></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/jquery-1.8.0.min.js"></script>
            <script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/jquery-ui-1.8.23.custom.min.js" ></script>
            <script type="text/javascript">
                $(function () {
                    var chart;
                    var startdate = $('#startdate')[0].value;
                    var enddate = $('#enddate')[0].value;
                    $(document).ready(function() {

                        var colors = Highcharts.getOptions().colors,
                        categories = ['CBA', 'Clinic Staff', 'Hub Workers', 'DHO Staff', 'PHO Staff'],
                        name = 'Trained SMS users',
                        
                        data = [
                            {
                                y: {{ cba_total}},
                                color: colors[0],
                                drilldown: {
                                    name: 'CBAs Trained by partners',
                                    categories: {% autoescape off %} {{cba_trainer_labels}}{% endautoescape %},
                                    data: {{cba_trainer_values}},
                                    color: colors[0]
                                }
                            },

                            {
                                y: {{ clinic_total}},
                                color: colors[1],
                                drilldown: {
                                    name: 'Clinic Staff Trained by partners',
                                    categories: {% autoescape off %} {{clinic_trainer_labels}}{% endautoescape %},
                                    data: {{clinic_trainer_values}},
                                    color: colors[1]
                                }
                            }, {
                                y: {{ hub_total}},
                                color: colors[2],
                                drilldown: {
                                    name: 'Hub Workers Trained by partners',
                                    categories: {% autoescape off %} {{hub_trainer_labels}}{% endautoescape %},
                                    data: {{hub_trainer_values}},
                                    color: colors[2]
                                }
                            }, {
                                y: {{ dho_total}},
                                color: colors[3],
                                drilldown: {
                                    name: 'DHOs Trained by partners',
                                    categories: {% autoescape off %} {{dho_trainer_labels}}{% endautoescape %},
                                    data: {{dho_trainer_values}},
                                    color: colors[3]
                                }
                            }, {
                                y: {{ pho_total}},
                                color: colors[4],
                                drilldown: {
                                    name: 'PHOs Trained by partners',
                                    categories: {% autoescape off %} {{pho_trainer_labels}}{% endautoescape %},
                                    data: {{pho_trainer_values}},
                                    color: colors[4]
                                }
                            }];

                        function setChart(name, categories, data, color) {
                            chart.xAxis[0].setCategories(categories, false);
                            chart.series[0].remove(false);
                            chart.addSeries({
                                name: name,
                                data: data,
                                color: color || 'white'
                            }, false);
                            chart.redraw();
                        }

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'container',
                                type: 'column'
                            },
                            title: {
                                text: 'Confirmed Trained Mwana SMS users from ' + startdate + ' to ' + enddate
                            },
                            subtitle: {
                                text: 'Click the columns to view Partners. Click again to view SMS users.'
                            },
                            xAxis: {
                                categories: categories
                            },
                            yAxis: {
                                title: {
                                    text: 'Total trained'
                                }
                            },
                            plotOptions: {
                                column: {
                                    cursor: 'pointer',
                                    point: {
                                        events: {
                                            click: function() {
                                                var drilldown = this.drilldown;
                                                if (drilldown) { // drill down
                                                    setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                                                } else { // restore
                                                    setChart(name, categories, data);
                                                }
                                            }
                                        }
                                    },
                                    dataLabels: {
                                        enabled: true,
                                        color: colors[0],
                                        style: {
                                            fontWeight: 'bold'
                                        },
                                        formatter: function() {
                                            return this.y;
                                        }
                                    }
                                }
                            },
                            tooltip: {
                                formatter: function() {
                                    var point = this.point,
                                    s = this.x +':<b>'+ this.y +' trained</b><br/>';
                                    if (point.drilldown) {
                                        s += 'Click to view '+ point.category +' partners';
                                    } else {
                                        s += 'Click to return to user groups';
                                    }
                                    return s;
                                }
                            },
                            series: [{
                                    name: name,
                                    data: data,
                                    color: 'white'
                                }],
                            exporting: {
                                enabled: false
                            }
                        });
                    });

                });
            </script>

            <script type="text/javascript"  src="{{ MEDIA_URL }}reports/javascripts/highcharts.js"></script>
            <script type="text/javascript"  src="{{ MEDIA_URL }}reports/javascripts/modules/exporting.js"></script>


            <div>
                <h3>All Existing {{ model }}</h3>

                <table width="100%">

                    <tr>
                        <th>#</th>
                        <th>
                            <a href="?ot={{ name_dir }}&amp;o=name">
                                Name
                            </a></th><th>
                            <a href="?ot={{ location_dir }}&amp;o=location">
                                Location
                            </a></th><th>
                            <a href="?ot={{ type_dir }}&amp;o=type">
                                Type
                            </a></th><th>
                            <a href="?ot={{ email_dir }}&amp;o=email">
                                Email
                            </a></th><th>
                            <a href="?ot={{ phone_dir }}&amp;o=phone">
                                Phone
                            </a></th><th>
                            <a href="?ot={{ date_dir }}&amp;o=date">
                                Date
                            </a></th><th>
                            <a href="?ot={{ trained_by_dir }}&amp;o=trained_by">
                                Trained by
                            </a></th><th>
                            <a href="?ot={{ additional_text_dir }}&amp;o=additional_text">
                                Additional text
                            </a></th>
                    </tr>

                    {% for record in query_set %}
                    <tr  bgcolor="{% cycle #EDF3FE,#ffffff %}">
                        <td>{{ forloop.counter|add:offset }}</td>
                        <td>{{ record.name }}</td>
                        <td>{{ record.location }}</td>
                        <td>{{ record.type }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phone }}</td>
                        <td>{{ record.date }}</td>
                        <td>{{ record.trained_by }}</td>
                        <td>{{ record.additional_text }}</td>
                    </tr>

                    {% endfor %}

                </table>

            </div>
            <div class="clear-hack"></div>
        </div>

    </form>
    <form>
        <div class="pagination">
            <span class="step-links">
                {% if has_previous %}
                <input type="submit" value="Previous" name="navigate" />
                {% endif %}

                <span class="current">
                    Page {{ number }} of {{ num_pages }}.
                </span>

                {% if has_next %}
                <input type="submit" value="Next" name="navigate" size="8" />
                {% endif %}
                <input type="hidden" name="page" value={{ number }}>
            </span>

        </div>
    </form>
</div>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}reports/stylesheets/chosen.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}reports/javascripts/chosen.jquery.min.js" ></script>
<script type="text/javascript">
    $("#id_location").chosen();
    $("#id_type").chosen();
    $("#id_trained_by").chosen();
    $("#id_location").chosen();
    $(".chzn-single").css('width','290px');
    $(".chzn-drop").css('width','298px');
    $(".chzn-search input").css('width','263px');
</script>
<script type="text/javascript" >
    $(function(){
        $(".datefield").datepicker({ dateFormat: 'yy-mm-dd' });
        $.datepicker.formatDate;
    });
</script>
{% endblock %}