{% extends "base.html" %}
{% load i18n %}
{% block title %}RemindMI Reports - RapidSMS for Health{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}malawi/stylesheets/daterangepicker-bs2.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}labresults/stylesheets/labresults.css" type="text/css" media="screen" />
<style type="text/css" media="screen">
    #options {
        padding:0 1em 20px;
    }

    #options table {
        border:0;
    }

    #options td {
        border:0;
        white-space:nowrap;
    }

    p {
        width:700px;
        text-align:right;
        margin-left:auto;
        margin-right:auto;
        padding:20px 0 30px;
    }

    label,input[type=text] {
        float:left;
        display:block;
    }

    label {
        font-weight:700;
    }

   table {
        margin-left:auto;
        margin-right:auto;
    }

    td,th {
        border:1px solid #aaa;
        font-weight:400;
        text-align:left;
        padding:.5em;
    }

    tbody th,tbody td {
        border-color:#aaa;
    }

    tbody tr:first-child th,tbody tr:first-child td {
        border-top-color:#aaa;
    }

    tbody th:first-child,tbody td:first-child {
        border-left-color:#aaa;
    }

    tbody th:last-child,tbody td:last-child {
        border-right-color:#aaa;
    }

    tbody tr:last-child th,tbody tr:last-child td {
        border-bottom-color:#aaa;
    }

</style>
{% endblock stylesheets %}
{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}malawi/javascripts/moment.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}malawi/javascripts/daterangepicker.js"></script>
{% endblock javascripts %}

{% block content %}

<div class="span12">

<div class="page-header">
  <h1>RemindMI</h1>
</div>

<!-- <h3>Report Options</h3> -->
<form method="GET" id="remindmi_options" action="">
<div class="well flush row-fluid">
  <div class="span12">
    <!-- Legend ? -->
    <div class="row-fluid">
      <div class="span4">
	<!-- r1c1 -->
	<select name="location" id="location" value="{{location}}">
          <option value="All Districts"  
                  {% ifequal selected_location "All Districts" %}
                  selected="selected" 
                  {% endifequal %}>All Districts</option>
          {% for location in districts %}
          <option value="{{ location }}"
		  {% ifequal selected_location location %} 
		  selected="selected" 
		  {% endifequal %}>{{ location }}</option>
	  {% endfor %}
        </select>	
	<div class="row-fluid">
	  <div class="span12">
	    <br />
	    <!-- r2c1 -->
	  </div>
	</div>
      </div>
      <div class="span4">
	<!-- r1c2 -->
	<div class="row-fluid">
	  <div class="span12">
	    <br />
	    <!-- r2c2 -->
	  </div>
	</div>
      </div>
      <div class="span4">
	<!-- r1c3 -->
	<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
	  <i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>
	  <span></span> <b class="caret"></b>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}malawi/javascripts/reportrange.js"></script>
	<div class="row-fluid">
	  <div class="span12">
	    <br />
	    <!-- r2c3 -->
	    <input type="hidden" name="startdate" value='{{startdate}}' id="startdate" />
	    <input type="hidden" name="enddate" value='{{enddate}}' id="enddate" />
	    <button type="submit" class="btn btn-primary pull-right" id="update_report" name="update_report">Update Report</button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
</form>

<div class="module">
  <h2>Mwana Registrations</h2>
  <br />
  <br />
    <table width="700px" cellspacing="" cellpadding="" border="">
      <thead>
        <tr>
          <th>Location</th>
          <th>Count of Births</th>
        </tr>
      </thead>
      <tbody>
        {% for count in child_count %}
        <tr>
            {% for item in count %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><a href="/csv/child-count/?location={{selected_location}}&startdate={{startdate}}&enddate={{enddate}}">Export data to Excel.</a></p>
</div>

<div class="module">
  <h2>Mayi Registrations</h2>
  <br />
  <br />
  <table width="700px" cellspacing="" cellpadding="" border="">
      <thead>
          <tr>
              <th>Location</th>
              <th>Count of Mothers</th>
          </tr>
      </thead>
      <tbody>
          {% for count in mother_count %}
          <tr>
              {% for item in count %}
              <td>{{ item }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <p><a href="/csv/mother-count/?location={{selected_location}}&startdate={{startdate}}&enddate={{enddate}}">Export data to Excel.</a></p>
</div>

</div>
{% endblock content %}
