{% extends "layout.html" %}
{% load url from future %}
{% load forms_tags django_tables2 %}
{% load render_table from django_tables2 %}

{% block title %}Results160 - Monitor - Sample Delivery{% endblock title %}

{% block extra_stylesheets %}
    <link type="text/css" rel="stylesheet"
          href="{{ STATIC_URL }}appointments/stylesheets/appointments.css" />
    <link type="text/css" rel="stylesheet"
          href="{{ STATIC_URL }}malawi/stylesheets/daterangepicker-bs2.css" />
    <style>
.table-container ul.pagination {
    overflow: auto;
    margin: 0;
    padding: 5px;
    border: 1px solid #DDD;
    list-style: none;
}
.table-container ul.pagination > li > a {
    text-decoration: none;
    font-weight: bold;
}
.table-container ul.pagination li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}
.table-container ul.pagination li:first-child {
    margin-left: 0;
}

.table-container ul.pagination li.cardinality {
    float: right;
    color: #8d8d8d;
}

.report-exports {
       margin: -60px 0 50px 0;
       float:right;
}

.filters_layout {
         list-style: none;
     }
.filters_layout li {
         float: left;
         margin-right: 16px;
     }
.table-bordered th { white-space: nowrap;}

    </style>

{% endblock extra_stylesheets %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}malawi/javascripts/moment.min.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}malawi/javascripts/daterangepicker.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#reportrange').daterangepicker(
     {
        startDate: moment().subtract('days', 29),
        endDate: moment(),
        minDate: '01/01/2008',
        maxDate: '01/01/2018',
        // maxDate: moment(),
        dateLimit: { days: 3650 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
           'Today': [moment().startOf('day'), moment()],
           'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
           'Last 7 Days': [moment().subtract('days', 6), moment()],
           'Last 30 Days': [moment().subtract('days', 29), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
           'Last Year': [moment().startOf('year').subtract('year', 1), moment().startOf('year')],
           'Project Start to Present Day': [moment([2010, 10, 01]), moment()],
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'MM/DD/YYYY',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            fromLabel: 'From ',
            toLabel: 'To ',
            customRangeLabel: 'Custom Range',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
     },
     function(start, end) {
      console.log("Callback has been called!");
      $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
      $('#id_startdate').val(start.format('YYYY-MM-DD'));
      $('#id_enddate').val(end.format('YYYY-MM-DD'));
     }
  );
  //Set the initial state of the picker label
   if ($('#id_startdate').val() === ""){
     default_start = moment().subtract('days', 29)
     $('#id_startdate').val(default_start.format('YYYY-MM-DD'))
   }
   if ($('#id_enddate').val() === ""){
     default_end = moment().format('YYYY-MM-DD')
     $('#id_enddate').val(default_end)
   }
   /* $('#reportrange span').html(); */
   $('#reportrange span').html($('#id_startdate').val() + ' - ' + $('#id_enddate').val());
});

</script>
{% endblock javascripts %}

{% block content %}
<div class="span12" id="remindmi">
  <div class="page-header"><h1>Results160 Sample Delivery</h1></div>
  <div class="row-fluid">
    <div class="span12">
      <form id="filter-form" method="GET">
        <input type="hidden" name="startdate" value='{{startdate}}' id="id_startdate" />
	      <input type="hidden" name="enddate" value='{{enddate}}' id="id_enddate" />
        <ul class="filters_layout">
          <li>
            <label for="reportrange">Sample Date Range:</label>
            <div id="reportrange" class="pull-right daterangepicker"
                 style="background: #fff; cursor: pointer;
                        padding: 5px 10px;; border: 1px solid #ccc;
                        position:relative; float: left; min-width:;
                        top:0; left:0; margin-bottom:17px; clear:right;">
              <i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>
              <span></span><b class="caret" style="float:right"></b>
            </div>
          </li>
          <li>
            <label for="location">District:</label>
	          <select name="location" id="location" value="{{location}}" class="pull-right">
              <option value="All Districts"
                      {% ifequal selected_location "All Districts" %}
                      selected="selected"
                      {% endifequal %}>All Districts</option>
              {% for location in districts %}
              <option value="{{ location }}"
		                  {% ifequal selected_location location %}
		                  selected="selected"
		                  {% endifequal %}>{{ location }}</option>
	            {% endfor %}
            </select>
          </li>
          <li>
              <label for="activity">Activity</label>
              <select name="activity" id="activity" value="{{activity}}" class="pull-right">
                  <option value="all"
                          {% ifequal selected_activity "all" %}
                          selected="selected"
                          {% endifequal %}>All Sites</option>
                  <option value="active"
                          {% ifequal selected_activity "active" %}
                          selected="selected"
                          {% endifequal %}>Active Sites</option>
                  <option value="inactive"
                          {% ifequal selected_activity "inactive" %}
                          selected="selected"
                          {% endifequal %}>Inactive Sites</option>
              </select>
          </li>
          <li><label for="id_update_filters">&nbsp;</label>
            <input id="id_update_filters" class="btn btn-primary" type="submit" value="Update Filters" />
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    {% render_table table %}
  </div>
</div>
</div>
{% endblock content %}


