{# TODO: Find a better way of displaying the alerts to avoid repeating code #}
{% extends "layout.html" %}
{% load forms_tags %}

{% block title %}Mwana Alerts - {{ block.super }}{% endblock %}

{% block javascripts %}
{{ block.super }}
{# TODO: Factor put this script to a single javascript file #}
<script type="text/javascript">
    var _allProvinces = []
    var _allDistricts = []
    var _allFacilities = []
    var _loaded = false
    function loadLocationData(){
        if(_loaded){
            return
        }

        var provinces = document.getElementById('rpt_provinces');
        for(i in provinces.options){

            if(provinces.options[i].value){
                _allProvinces.push([provinces.options[i].value, provinces.options[i].innerHTML])
            }

        }
        var districts = document.getElementById('rpt_districts');
        for(i in districts.options){
            if(districts.options[i].value){
                _allDistricts.push([districts.options[i].value, districts.options[i].innerHTML])
            }
        }
        var facilities = document.getElementById('rpt_facilities');
        for(i in facilities.options){
            if(facilities.options[i].value){
                _allFacilities.push([facilities.options[i].value, facilities.options[i].innerHTML])
            }
        }

        _loaded = true
    }

    function clearDropDown(element){
        while ( element.options.length ){
            element.options[0] = null;
        }
    }

    // to be called when selected province changes
    function firerpt_provincesChange(){
        loadLocationData()
        var provinceDropDown = document.getElementById('rpt_provinces');
        var provinceSlug = provinceDropDown.options[provinceDropDown.selectedIndex].value.substring(0, 2)
        var districtDropDown = document.getElementById('rpt_districts');
        var facilityDropDown = document.getElementById('rpt_facilities');

        // reload district combo
        clearDropDown(districtDropDown);
        var childDistricts = []
        for(value in _allDistricts){
            if(provinceSlug=="Al" || provinceSlug ==_allDistricts[value][0].substring(0, 2) || _allDistricts[value][0]=="All"){
                childDistricts.push(_allDistricts[value])
            }
        }
        fillList(districtDropDown, childDistricts)

        // reload facility combo
        clearDropDown(facilityDropDown);
        var childFacilities = []
        for(value in _allFacilities){
            if(provinceSlug=="Al" ||
                provinceSlug ==_allFacilities[value][0].substring(0, 2) ||
                _allFacilities[value][0]=="All"){
                childFacilities.push(_allFacilities[value])
            }
        }
        fillList(facilityDropDown, childFacilities)
    }

    function firerpt_districtsChange(){
        loadLocationData()
        var provinceDropDown = document.getElementById('rpt_provinces');
        var provinceSlug = provinceDropDown.options[provinceDropDown.selectedIndex].value.substring(0, 2)
        var districtDropDown = document.getElementById('rpt_districts');
        var districtSlug = districtDropDown.options[districtDropDown.selectedIndex].value

        if(districtSlug != "All"){
            districtSlug = districtSlug.substring(0, 4)
        }
        var facilityDropDown = document.getElementById('rpt_facilities');


        // reload facility combo
        clearDropDown(facilityDropDown);
        var childFacilitiesInProvince = []

        for(value in _allFacilities){
            if(provinceSlug=="Al" ||
                provinceSlug ==_allFacilities[value][0].substring(0, 2)
                || _allFacilities[value][0]=="All"){
                childFacilitiesInProvince.push(_allFacilities[value])
            }
        }

        var childFacilities = []

        for(value in childFacilitiesInProvince){
            if(districtSlug == "All" ||
                districtSlug == childFacilitiesInProvince[value][0].substring(0, 4) ||
                childFacilitiesInProvince[value][0]=="All"){
                childFacilities.push(childFacilitiesInProvince[value])
            }
        }

        fillList(facilityDropDown, childFacilities)
    }

    function fillList( box, arr ) {
        // arr[0] holds the display text
        // arr[1] are the values

        for ( i in arr ) {

            // Create a new drop down option with the
            // display text and value from arr

            option = new Option( arr[i][1], arr[i][0]);

            // Add to the end of the existing options

            box.options[box.length] = option;
        }

        // Preselect option 0

        box.selectedIndex=0;
    }

</script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/modules.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}locations/stylesheets/locations.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}locations/stylesheets/label-overlay.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}labresults/stylesheets/labresults.css" />
{% endblock %}

{% block content %}

<form name="form1">
    <div class="split-2">
        <div class="left">
            <div class="module">
                <h2>Results160 Alerts on {% now "jS F Y" %} at {% now "H:i" %}</h2>
                <br>
                Generated by <b>{{ user.username|title }}</b>
                <hr>
                                
                           {% if region_selectable %}
                <p>Select Region: &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Province&nbsp;: {% autoescape off %}
                    {{rpt_provinces}}
                    {% endautoescape %}&nbsp;
                    or District:{% autoescape off %}
                    {{rpt_districts}}
                    {% endautoescape %}&nbsp;
                    Facility:{% autoescape off %}
                    {{rpt_facilities}}
                    {% endautoescape %}

                    {% if is_report_admin %}
                <p>Select Implementer:
                    {% autoescape off %}
                    {{rpt_group}}
                    {% endautoescape %}
                    &nbsp;
                    {%endif%}
                    {%endif%}

                    &nbsp;&nbsp;&nbsp; <input type="submit" value="Ok" name="SubmitValues" />

               
                <hr>
                <h1>Clinic Issues:</h1>
                <div>
                    <!-- Report 1-->
                    <p align="center">
                    <h3>Alerts for Clinics Not Retrieving Results in the last {{ retrieving_time }} days</h3>
                    <br>Select date range (days)
                    <select name="input_retrieving_time" size="1">
                        {% for a in days%}
                        {% ifequal a retrieving_time%}
                        <option selected value="{{a}}">{{a}}</option>
                        {% else%}
                        <option value="{{a}}">{{a}}</option>
                        {% endifequal %}
                        {%endfor%}

                    </select>
                    <input type="submit" value="Update" name="SubmitValues2" />
                    <p align="center">
                    {% for record in not_retrieving_results %}
                    <table border="1" width="100%">
                            <tr>
                                {% ifequal record.level record.HIGH_LEVEL %}
                                <td width="50" bgcolor="#FF0000"></td>
                                {% else%}
                                <td width="50" bgcolor="#FFFF00"></td>
                                {% endifequal%}
                                <td width="50" bgcolor="#FFFFFF" align="center"><font size="6">{{ record.days_late }}</font><br>&nbsp;&nbsp;days</td>
                                <td width="80" bgcolor="#EBEBEB">{{ record.culprit }}</td>
                                <td bgcolor="#FFFFFF">{{ record.message }} <b>{{ record.extra }}</b></td>
                            </tr>
                        </table>
                        {% endfor %}

                    <p><p>
                    <hr>
                        <!-- Report 2-->
                    <p align="center">
                    <h3>Alerts for Clinics Not Sending DBS Samples in the last {{ notifying_time }} days</h3>
                    <br>Select date range (days)
                    <select name="input_notifying_time" size="1">
                        {% for a in days%}
                        {% ifequal a notifying_time %}
                        <option selected value="{{a}}">{{a}}</option>
                        {% else%}
                        <option value="{{a}}">{{a}}</option>
                        {% endifequal %}
                        {%endfor%}

                    </select>

                    <input type="submit" value="Update" name="SubmitValues2" />
                        <p>
                        {% for record in not_notifying_or_using_results %}

                        <table border="1"  width="100%">
                            <tr>
                                {% ifequal record.level record.HIGH_LEVEL %}
                                <td width="50" bgcolor="#FF0000"></td>
                                {% else%}
                                <td width="50" bgcolor="#FFFF00"></td>
                                {% endifequal%}
                                <td width="50" bgcolor="#FFFFFF" align="center">
                                    <font size="6">
                                        {% if record.days_late > 40000 %}
                                          Never
                                          </font><br>&nbsp;&nbsp;sent</td>
                                          {% else %}
                                          {{ record.days_late }}
                                          </font><br>&nbsp;&nbsp;days</td>
                                        {% endif %}
                                        
                                    
                                <td width="80" bgcolor="#EBEBEB">{{ record.culprit }}</td>
                                <td bgcolor="#FFFFFF">{{ record.message }} <p><b>{{ record.extra }}</b></td>
                            </tr>
                        </table>
                        {% endfor %}
                        
                    <p><p>
                    <hr>
                    <!--Resport3-->
                    <h1>Hub Issues:</h1>
                    <p align="center">
                    <h3>Alerts for Clinic Hubs Not Sending Samples to Labs in the last {{ transport_time }} days</h3>
                    <br>
                    Select date range (days)
                    <select name="input_transport_time" size="1">
                        {% for a in days%}
                        {% ifequal a transport_time%}
                        <option selected value="{{a}}">{{a}}</option>
                        {% else%}
                        <option value="{{a}}">{{a}}</option>
                        {% endifequal %}
                        {%endfor%}

                    </select>

                    <input type="submit" value="Update" name="SubmitValues" />


                    <p>
                        {% for record in not_sending_dbs_alerts %}
                        <table border="1"  width="100%">
                            <tr>
                                {% ifequal record.level record.HIGH_LEVEL %}
                                <td width="50" bgcolor="#FF0000"></td>
                                {% else%}
                                <td width="50" bgcolor="#FFFF00"></td>
                                {% endifequal%}
                                <td width="50" bgcolor="#FFFFFF" align="center"><font size="6">{{ record.days_late }}</font><br>&nbsp;&nbsp;days</td>
                                <td width="80" bgcolor="#EBEBEB">{{ record.culprit }}</td>
                                <td bgcolor="#FFFFFF">{{ record.message }} <b>{{ record.extra }}</b></td>
                            </tr>
                        </table>
                        {% endfor %}

                    <p><p>
                    <hr>
                    <h1>Lab Issues:</h1>
                    <!-- Alert Report 4-->
                    <p align="center">
                    <h3>Alerts for Labs Not Processing DBS samples in the last {{ lab_processing_days }} days.</h3>
                    <br>Select date range (days)
                    <select name="input_lab_processing_days" size="1">
                        {% for a in days%}
                        {% ifequal a lab_processing_days %}
                        <option selected value="{{a}}">{{a}}</option>
                        {% else%}
                        <option value="{{a}}">{{a}}</option>
                        {% endifequal %}
                        {%endfor%}

                    </select>

                    <input type="submit" value="Update" name="SubmitValues2" />

                        <p>
                        {% for record in not_processing_dbs %}
                        <table border="1"  width="100%">
                            <tr>
                                {% ifequal record.level record.HIGH_LEVEL %}
                                <td width="50" bgcolor="#FF0000"></td>
                                {% else%}
                                <td width="50" bgcolor="#FFFF00"></td>
                                {% endifequal%}
                                <td width="50" bgcolor="#FFFFFF" align="center"><font size="6">{{ record.days_late }}</font><br>&nbsp;&nbsp;days</td>
                                <td width="80" bgcolor="#EBEBEB">{{ record.culprit }}</td>
                                <td bgcolor="#FFFFFF">{{ record.message }} <b>{{ record.extra }}</b></td>
                            </tr>
                        </table>
                        {% endfor %}

                    <p><p>
                    <hr>
                        <!-- Alert Report 5-->
                    <p align="center">
                    <h3>Alerts for Labs Not Sending Payloads in the last {{ lab_sending_days }} days.</h3>
                    <br>Select date range (days)
                    <select name="input_lab_sending_days" size="1">
                        {% for a in days%}
                        {% ifequal a lab_sending_days %}
                        <option selected value="{{a}}">{{a}}</option>
                        {% else%}
                        <option value="{{a}}">{{a}}</option>
                        {% endifequal %}
                        {%endfor%}

                    </select>

                    <input type="submit" value="Update" name="SubmitValues2" />

                     <p>
                        {% for record in not_sending_dbs %}
                        <table border="1"  width="100%">
                            <tr>
                                {% ifequal record.level record.HIGH_LEVEL %}
                                <td width="50" bgcolor="#FF0000"></td>
                                {% else%}
                                <td width="50" bgcolor="#FFFF00"></td>
                                {% endifequal%}
                                <td width="50" bgcolor="#FFFFFF" align="center"><font size="6">{{ record.days_late }}</font><br>&nbsp;&nbsp;days</td>
                                <td width="80" bgcolor="#EBEBEB">{{ record.culprit }}</td>
                                <td bgcolor="#FFFFFF">{{ record.message }} <b>{{ record.extra }}</b></td>
                            </tr>
                        </table>
                        {% endfor %}
                    <p><p>
                        <hr>
                <h1>Tracing Issues:</h1>
                        <!-- Alert Report 6-->
                    <p align="center">
                    <h3>Alerts for clinics not using the trace command in the last {{ tracing_days }} days.</h3>
                    <br>Select date range (days)
                    <select name="input_tracing_days" size="1">
                        {% for a in days%}
                        {% ifequal a tracing_days %}
                        <option selected value="{{a}}">{{a}}</option>
                        {% else%}
                        <option value="{{a}}">{{a}}</option>
                        {% endifequal %}
                        {%endfor%}

                    </select>

                    <input type="submit" value="Update" name="SubmitValues2" />

                     <p>
                        {% for record in not_using_trace %}
                        <table border="1"  width="100%">
                            <tr>
                                {% ifequal record.level record.HIGH_LEVEL %}
                                <td width="50" bgcolor="#FF0000"></td>
                                {% else%}
                                <td width="50" bgcolor="#FFFF00"></td>
                                {% endifequal%}
                                <td width="50" bgcolor="#FFFFFF" align="center"><font size="6">{{ record.days_late }}</font><br>&nbsp;&nbsp;days</td>
                                <td width="80" bgcolor="#EBEBEB">{{ record.culprit }}</td>
                                <td bgcolor="#FFFFFF">{{ record.message }} <b>{{ record.extra }}</b></td>
                            </tr>
                        </table>
                        {% endfor %}
                        <p><p><hr>
                        <h1>Staff Issues:</h1><p>
           <h3>Alerts for Clinic staff not using Results160</h3>
                        <p>
                        {% for record in inactive_workers_alerts %}

                        <table border="1"  width="100%">
                            <tr>
                                {% ifequal record.level record.HIGH_LEVEL %}
                                <td width="50" bgcolor="#FF0000"></td>
                                {% else%}
                                <td width="50" bgcolor="#FFFF00"></td>
                                {% endifequal%}
                                <td width="50" bgcolor="#FFFFFF" align="center"><font size="6">{{ record.days_late }}</font><br>&nbsp;&nbsp;days</td>
                                <td width="80" bgcolor="#EBEBEB">{{ record.culprit }}</td>
                                <td bgcolor="#FFFFFF">{{ record.message }} <p><b>{{ record.extra }}</b></td>
                            </tr>
                        </table>
                        {% endfor %}
                    <p><p>
                </div>
                <p>
            </div>
            <div class="clear-hack"></div>
        </div>
    </div>
</form>{% endblock %}
