/* vim:set et ts=4 sw=4 */

#wrapper {
    min-width: 1024px;
}

button.ui-button-icon-only {
    height: 19px;
    top: 6px;
    width: 2.4em;
}

.hasDatepicker {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    height: 12px;
    margin-top: 0.4em;
    width: 80px;
}

.statistics form {
    margin-bottom: 2em;
}

.statistics table {
    width: 100%;
}

.statistics th {
    white-space: nowrap;
}
.statistics .upper {
    text-transform: uppercase
}

.statistics #records tr:nth-child(2n) {
    background-color: #CCC;
}

.statistics #records tbody tr:hover {
    background-color: #999;
}

.statistics col { width: 1%; }
.statistics col:first-child { width: auto; }

.statistics col.location { width: 75px;}
