/* vim:set et ts=4 sw=4 */

button.ui-button-icon-only {
    height: 19px;
    top: 6px;
    width: 2.4em;
}

.hasDatepicker {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    height: 12px;
    margin-top: 0.4em;
    width: 80px;
}

.statistics form {
    margin-bottom: 2em;
}

.statistics table {
    width: 100%;
}

.statistics th {
    white-space: nowrap;
}
.statistics .upper {
    text-transform: uppercase
}

.statistics #records table tr:nth-child(2n) {
    background-color: #CCC;
}

.statistics #records table tbody tr:hover {
    background-color: #999;
}

.statistics col { width: 1%; }

.statistics col.location, .statistics col.reminder-type { width: 75px;}

#mothers-form .ui-autocomplete-input {
    width: 80px;
}
