{% extends "layout.html" %}
{% load i18n %}
{% load paginating_tags %}
{% block title %}Nutrition Assessments{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet"
      href="{{ MEDIA_URL }}stylesheets/modules.css" />
<link type="text/css" rel="stylesheet"
      href="{{ MEDIA_URL }}locations/stylesheets/locations.css" />
<link type="text/css" rel="stylesheet"
      href="{{ MEDIA_URL }}locations/stylesheets/label-overlay.css" />
<link type="text/css" rel="stylesheet"
      href="{{ MEDIA_URL }}labresults/stylesheets/labresults.css" />
<style type="text/css" media="screen">
    span.x {
    color:#bbbbbb;
    background:transparent;
    display:block;
    text-align: center;
    }
</style>
{% endblock %}

{% block content %}

<div class="module">

<h2>Analyzed Growth Monitor Surveys by period and location</h2>
<br />
<form name="getValues" method="GET" action="">
    <p>Select Period:
    <input type="text" name="startdate" value="{{ startdate }}" size="12" />
    To
    <input type="text" name="enddate" value="{{ enddate }}" size="12" />
    Location:
    <select name="location" value="{{ location }}">
        <option value="All Districts"
                {% ifequal selected_location "All Districts" %}
                selected="selected"
                {% endifequal %} >All Districts
        </option>
        {% for facility in locations %}
        <option value="{{ facility }}"
                {% ifequal facility selected_location %}
                selected="selected"
                {% endifequal %} >
                {{ facility }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" name="SubmitValues" value="Ok" />
    </p>
</form>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Date Submitted</th><th>Facility</th><th>District</th><th>Interviewer Name</th><th>Child ID</th><th>Sex</th><th>Date of Birth</th><th>Age</th><th>Height</th><th>Weight</th><th>Oedema</th><th>MUAC</th><th>Weight for Height Z</th><th>Wasting</th><th>Weight for Age Z</th><th>Underweight</th><th>Height for Age Z</th><th>Stunting</th><th>Data Quality</th><th>Action Taken</th>
            </tr>
        </thead>
        <tbody>
	    {% autopaginate object_list %}
            {% for ass in object_list %}
            <tr>
                <td>{{ ass.date|date:"Y-m-d" }}</td>
                <td>{{ ass.healthworker.clinic }}</td>
                <td>{{ ass.healthworker.clinic.parent.name }}</td>
                <td>{{ ass.healthworker.name }}</td>
                <td>{{ ass.patient.code }}</td>
                <td>{{ ass.patient.gender }}</td>
                <td>{{ ass.patient.date_of_birth }}</td>
                <td>{{ ass.patient.age_in_months }}</td>
                <td>{{ ass.height|default:"<span class='x'>X</span>" }}</td>
                <td>{{ ass.weight|default:"<span class='x'>X</span>" }}</td>
                <td {% if ass.oedema %}class="oedema"{% endif %}>{{ ass.oedema|yesno:"Yes,No, " }}</td>
                <td {% if ass.muac %}class="{{ ass.get_wasting_display|slugify }}"{% endif %}>{{ ass.muac|default:"<span class='x'>X</span>" }}</td>
                <td {% if ass.weight4height %}class="{{ ass.get_wasting_display|slugify }}"{% endif %}>{{ ass.weight4height|default:"<span class='x'>X</span>" }}</td>
                <td class="{{ ass.get_wasting_display|slugify }}">{{ ass.get_wasting_display|default:"<span class='x'>X</span>" }}</td>
                <td class="{{ ass.get_underweight_display|slugify }}">{{ ass.weight4age|default:"<span class='x'>X</span>" }}</td>
                <td class="{{ ass.get_underweight_display|slugify }}">{{ ass.get_underweight_display|default:"<span class='x'>X</span>" }}</td>
                <td class="{{ ass.get_stunting_display|slugify }}">{{ ass.height4age|default:"<span class='x'>X</span>" }}</td>
                <td class="{{ ass.get_stunting_display|slugify }}">{{ ass.get_stunting_display|default:"<span class='x'>X</span>" }}</td>
                <td>{{ ass.get_status_display }}</td>
                <td></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="20">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <div id="paginator">{% paginate %}</div>
</div>
<div class="toolbar">
    <a href="/growth/csv/assessments/?location={{ selected_location }}&startdate={{ startdate }}&enddate={{ enddate }}" class="export">Export Analyzed Surveys</a>
</div>

</div>


<div class="module">
<h2>Raw Survey Entries</h2>

<div class="toolbar">
   	<a href="/growth/csv/surveyentries/" class="export">Export Raw Survey Entries</a>

</div>

</div>
{% endblock %}
