
{% extends "layout.html" %}
{% load i18n %}
{% block title %}Nutrition Reports{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}malawi/stylesheets/datepicker.css" type="text/css" media="screen" />
<!-- <link rel="stylesheet" href="{{ MEDIA_URL }}labresults/stylesheets/tables.css" type="text/css" media="screen" /> -->
<style type="text/css" media="screen">
  #options {padding: 0px 1em 20px;}
  #options table {border:0; margin-left:auto; margin-right:auto;}
  #options td {border:0; white-space: nowrap;}
  p {width:700px; text-align:right; padding:20px 0 30px 0;
  margin-left:auto; margin-right:auto;}
  label, input[type="text"] {float:left; display:block;}
  label {font-weight: bold;}
  #underweight_chart, #underweight_table,
  #stunting_chart, #stunting_table,
  #wasting_chart, #wasting_table {
  margin-left:auto; margin-right:auto;}

  /* nutrition table styles.*/
  td, th {
  padding: 0.5em;
  border: 1px solid #aaa;
  
  /* reset the "look" of headers to match regular cells,
  * since they can appear anywhere (col or row scope) */
  font-weight: normal;
  text-align: left;
  }

  tbody th, tbody td {
  border-color: #aaa;
  }
  tbody tr:first-child th, tbody tr:first-child td {
  border-top-color: #aaa;
  }
  tbody th:first-child, tbody td:first-child {
  border-left-color: #aaa;
  }
  /* restore the dark outer borders of the tbody */
  tbody tr:first-child th, tbody tr:first-child td { border-top-color:    #aaa; }
  tbody th:last-child,     tbody td:last-child     { border-right-color:  #aaa; }
  tbody tr:last-child th,  tbody tr:last-child td  { border-bottom-color: #aaa; }
  tbody th:first-child,    tbody td:first-child    { border-left-color:   #aaa; }
</style>
{% endblock stylesheets %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart','table']});
    </script>
    <script type="text/javascript">
    function drawPercentCharts() {
        var weight_data_percent = {{weight_data_percent|safe}};
        var xaxis = "Percentage % of reported values";
        var stunt_data_percent = {{stunt_data_percent|safe}};
        var wasting_data_percent = {{wasting_data_percent|safe}};

        drawUnderweightChart(weight_data_percent, xaxis);
        drawStuntingChart(stunt_data_percent, xaxis);
        drawWastingChart(wasting_data_percent, xaxis);
    }

function drawValueCharts(){
    var weight_data = {{weight_data|safe}};
    var xaxis = "Number of reported values";
    var stunt_data = {{stunt_data|safe}};
    var wasting_data = {{wasting_data|safe}};

    drawUnderweightChart(weight_data, xaxis);
    drawStuntingChart(stunt_data, xaxis);
    drawWastingChart(wasting_data, xaxis);
}
function drawUnderweightChart(weight_data, xaxis) {
    // Create and populate the data table.
    var data = new google.visualization.DataTable();
    var raw_data = weight_data;
    
    var districts = {{locations|safe}};
    
    var chart_height = districts.length * 100;

    data.addColumn('string', 'Locations');
    for (var i = 0; i  < raw_data.length; ++i) {
        data.addColumn('number', raw_data[i][0]);    
    }
    
    data.addRows(districts.length);
    
    for (var j = 0; j < districts.length; ++j) {    
        data.setValue(j, 0, districts[j].toString());    
    }
    for (var i = 0; i  < raw_data.length; ++i) {
        for (var j = 1; j  < raw_data[i].length; ++j) {
            data.setValue(j-1, i+1, raw_data[i][j]);    
        }
    }
    
    // Create and draw the visualization.
    new google.visualization.BarChart(document.getElementById('underweight_chart')).
        draw(data,
             {title:"Incidence of reports sent",
              width:'100%', height:'100%',
              colors: ['#9c8aa5', '#0077bb', '#00cd00','#fee01e', '#dd7500', '#cd0000'],
              hAxis: {title: xaxis},
              vAxis: {title: "Location"}}
            );
}

function drawUnderweightTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'District');
    data.addColumn('number', 'Weight Captured');
    data.addColumn('number', 'Weighing Efficiency');
    data.addColumn('number', 'Mild');
    data.addColumn('number', 'Moderate');
    data.addColumn('number', 'Severe');
    data.addRows([
        ['Chikwawa', {v:5416, f:'5416'},{v:18, f:'18%'},{v:29.95, f:'29.95%'},{v:10.72, f:'10.72%'},{v:4, f: '4.00%'}],
        ['Chiradzulu', {v:755, f:'755'},{v:4, f:'4%'},{v:28.05, f: '28.05%'},{v:10.37, f: '10.37%'},{v:3.06, f: '3.06%'}],
        ['Salima', {v:789, f: '789'},{v:34, f: '34%'},{v:27.5, f:'27.5%'},{v:10.06, f:'10.06%'},{v:2.8, f:'2.8%'}]
    ]);

    var table = new google.visualization.Table(document.getElementById('underweight_table'));
    
    // var formatter = new google.visualization.ArrowFormat();
    // formatter.format(data, 1); // Apply formatter to second column
    
    table.draw(data, {allowHtml: true, showRowNumber: false});


}

function drawStuntingChart(stunt_data, xaxis) {
    // Create and populate the data table.
    var data = new google.visualization.DataTable();
    var raw_data = stunt_data;
    
    var districts = {{locations|safe}};
    
    var chart_height = districts.length * 100;

    data.addColumn('string', 'Locations');
    for (var i = 0; i  < raw_data.length; ++i) {
        data.addColumn('number', raw_data[i][0]);    
    }
    
    data.addRows(districts.length);
    
    for (var j = 0; j < districts.length; ++j) {    
        data.setValue(j, 0, districts[j].toString());    
    }
    for (var i = 0; i  < raw_data.length; ++i) {
        for (var j = 1; j  < raw_data[i].length; ++j) {
            data.setValue(j-1, i+1, raw_data[i][j]);    
        }
    }
    
    // Create and draw the visualization.
    new google.visualization.BarChart(document.getElementById('stunting_chart')).
        draw(data,
             {title:"Incidence of reports sent",
              width:'100%', height:'100%',
              colors: ['#0077bb', '#00cd00','#fee01e', '#dd7500', '#cd0000'],
              hAxis: {title: xaxis},
              vAxis: {title: "Location"}}
            );
}

function drawStuntingTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'District');
    data.addColumn('number', 'Height Captured');
    data.addColumn('number', 'Height Efficiency');
    data.addColumn('number', 'Mild');
    data.addColumn('number', 'Moderate');
    data.addColumn('number', 'Severe');
    data.addRows([
        ['Chikwawa', {v:5416, f:'5416'},{v:18, f:'18%'},{v:29.95, f:'29.95%'},{v:10.72, f:'10.72%'},{v:4, f: '4.00%'}],
        ['Chiradzulu', {v:755, f:'755'},{v:4, f:'4%'},{v:28.05, f: '28.05%'},{v:10.37, f: '10.37%'},{v:3.06, f: '3.06%'}],
        ['Salima', {v:789, f: '789'},{v:34, f: '34%'},{v:27.5, f:'27.5%'},{v:10.06, f:'10.06%'},{v:2.8, f:'2.8%'}]
    ]);

    var table = new google.visualization.Table(document.getElementById('stunting_table'));
    
    // var formatter = new google.visualization.ArrowFormat();
    // formatter.format(data, 1); // Apply formatter to second column
    
    table.draw(data, {allowHtml: true, showRowNumber: false});


}

function drawWastingChart(wasting_data, xaxis) {
    // Create and populate the data table.
    var data = new google.visualization.DataTable();
    var raw_data = wasting_data;
    
    var districts = {{locations|safe}};
    
    var chart_height = districts.length * 100;

    data.addColumn('string', 'Locations');
    for (var i = 0; i  < raw_data.length; ++i) {
        data.addColumn('number', raw_data[i][0]);    
    }
    
    data.addRows(districts.length);
    
    for (var j = 0; j < districts.length; ++j) {    
        data.setValue(j, 0, districts[j].toString());    
    }
    for (var i = 0; i  < raw_data.length; ++i) {
        for (var j = 1; j  < raw_data[i].length; ++j) {
            data.setValue(j-1, i+1, raw_data[i][j]);    
        }
    }
    
    // Create and draw the visualization.
    new google.visualization.BarChart(document.getElementById('wasting_chart')).
        draw(data,
             {title:"Incidence of reports sent",
              width:'100%', height:'100%',
              colors: ['#0077bb', '#00cd00','#fee01e', '#dd7500', '#cd0000'],
              hAxis: {title: xaxis},
              vAxis: {title: "Location"}}
            );
}

function drawWastingTable() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'District');
    data.addColumn('number', 'MUAC Captured');
    data.addColumn('number', 'MUAC Efficiency');
    data.addColumn('number', 'Height captured');
    data.addColumn('number', 'Mild');
    data.addColumn('number', 'Moderate');
    data.addColumn('number', 'Severe');
    data.addRows([
        ['Chikwawa', {v:35, f:'35'},{v:18, f:'18%'},{v:50, f:'50'},{v:29.95, f:'29.95%'},{v:10.72, f:'10.72%'},{v:4, f: '4.00%'}],
        ['Chiradzulu', {v:65, f:'65'},{v:4, f:'4%'},{v:200, f:'200'},{v:28.05, f: '28.05%'},{v:10.37, f: '10.37%'},{v:3.06, f: '3.06%'}],
        ['Salima', {v:78, f: '78'},{v:34, f: '34%'},{v:100, f:'100'},{v:27.5, f:'27.5%'},{v:10.06, f:'10.06%'},{v:2.8, f:'2.8%'}]
    ]);

    var table = new google.visualization.Table(document.getElementById('wasting_table'));
    
    // var formatter = new google.visualization.ArrowFormat();
    // formatter.format(data, 1); // Apply formatter to second column
    
    table.draw(data, {allowHtml: true, showRowNumber: false});

}

google.setOnLoadCallback(drawPercentCharts);
    </script>

<script type="text/javascript" src="{{ MEDIA_URL }}malawi/javascripts/datepicker.js"></script>
<script type="text/javascript">
// <![CDATA[     
   
datePickerController.addEvent(window, "load", function() {
      var start_opts = {
        // The ID of the associated form element
        id:"startdate",
        // The date format to use
        format:"Y-ds-m-ds-d",

        // Do we hide the today button
        noToday:true,
        // Do we show weeks along the left hand side
        showWeeks:true,

        // Do we fill the entire grid with dates
        fillGrid:true,
      };
      var end_opts = {
        // The ID of the associated form element
        id:"enddate",
        // The date format to use
        format:"Y-ds-m-ds-d",

        // Do we hide the today button
        noToday:true,
        // Do we show weeks along the left hand side
        showWeeks:true,

        // Do we fill the entire grid with dates
        fillGrid:true,
      };
      datePickerController.createDatePicker(start_opts);
      datePickerController.createDatePicker(end_opts);
});

// ]]>
</script>
{% endblock javascripts %}

{% block content %}
<div class="module">
  
<div id="graphs" class="module">
  <h2>Report Options</h2>
  <form method="GET" id="options" action="">
    <table width="700px" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td><label for="startdate">From:</label></td>
        <td><input type="textbox" name="startdate" value='{{startdate}}' id="startdate" class="dateformat-Y-ds-m-ds-d" /></td>
        <td><label for="enddate">To:</label></td>
        <td><input type="textbox" name="enddate" value='{{enddate}}' id="enddate" class="dateformat-Y-ds-m-ds-d" /></td>
        <td><label for="location">District:</label></td>
        <td>
          <select name="location" id="location" value="{{location}}">
            <option value="All Districts"  
                    {% ifequal selected_location "All Districts" %}
                    selected="selected" 
                    {% endifequal %}>All Districts</option>
            {% for location in districts %}
            <option value="{{ location }}"
		    {% ifequal selected_location location %} 
		    selected="selected" 
		    {% endifequal %}>{{ location }}</option>
	    {% endfor %}
          </select>
        </td>
      </tr>
      <!-- <tr> -->
      <!--     <td><label for="gender">Gender:</label></td> -->
      <!--     <td> -->
      <!--         <select name="gender" id="gender" value="{{gender}}"> -->
      <!--             {% for gender in gender_opts %} -->
      <!--             <option value="{{ gender }}" -->
      <!--                     {% ifequal selected_gender gender %}  -->
      <!--                     selected="selected"  -->
      <!--                     {% endifequal %}>{{ gender }}</option> -->
      <!--             {% endfor %} -->
      <!--         </select> -->
      <!--     </td> -->
      <!--     <td><label for="startage">Age from:</label></td> -->
      <!--     <td><input type="textbox" name="startage" value="{{ startage }}" id="{{startage}}" /></td> -->
      <!--     <td><label for="endage">Age to:</label></td> -->
      <!--     <td><input type="textbox" name="endage" value="{{ endage }}" id="{{endage}}" /></td> -->
      <!-- </tr> -->
      <!-- <tr> -->
      <!--     <td><label for="percent">As percentage:</label></td> -->
      <!--     <td><input type="checkbox" name="percent" -->
      <!--                value="checked" id="percent"  -->
      <!--                {% ifequal selected_percent "checked" %} -->
      <!--                checked="checked" -->
      <!--                {% endifequal %}/></td> -->
      <!-- </tr> -->
      <tr>
        <td>&nbsp;</td>
        <td colspan="5"><input type="submit" name="submit" value="View Report" /></td>
      </tr>
      
    </table>
  </form>
</div> 

<div class="module">
  <h2>Underweight</h2>
  <div class="toolbar" style="whitespace:nowrap;"> 
    <a href="#underweight_percent"
       id="underweight_percent" 
       onClick="return drawPercentCharts()">Graph as Percentages</a>
    <a href="#underweight_values" 
       id="underweight_values" 
       onClick="return drawValueCharts()">Graph as Values</a>
  </div>
  <div id="underweight_chart" style="width:700px; height:700px;">
  </div>
  
  <div id="underweight_table" class="table-container" style="width:700px;">
    <table width="700px" cellspacing="" cellpadding="" border="">
      <thead>
        <tr>
          <th>Location</th>
          <th>Weight Captured</th>
          <th>Weight Efficiency</th>
          <th>Obese</th>
          <th>Overweight</th>
          <th>Normal</th>
          <th>Mild</th>
          <th>Moderate</th>
          <th>Severe</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
        <tr>
          <td>
            {{location}}
          </td>
         {% for key, values in weight_table.items %}
            {% if key == location %}
              {% for item in values %}
          <td>{{ item }}</td>
              {% endfor %}
            {% endif %}
         {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <p><a href="/growth/csv/assessments/?location={{selected_location}}&startdate={{startdate}}&enddate={{enddate}}">Export supporting data to Excel.</a></p>
</div>

<div class="module">
  <h2>Stunting</h2>
  <div class="toolbar" style="whitespace:nowrap;">
    <a href="#stunting_percent"
       id="stunting_percent" 
       onClick="return drawPercentCharts()">Graph as Percentages</a>
    <a href="#stunting_values" 
       id="stunting_values" i
       onClick="return drawValueCharts()">Graph as Values</a></p>
</div>
<div id="stunting_chart" style="width:700px; height:700px;">
</div>
<div id="stunting_table" class="table-container" style="width:700px;">

    <table width="700px" cellspacing="" cellpadding="" border="">
      <thead>
        <tr>
          <th>Location</th>
          <th>Height Captured</th>
          <th>Height Efficiency</th>
          <th>Very Tall</th>
          <th>Normal</th>
          <th>Mild</th>
          <th>Moderate</th>
          <th>Severe</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
        <tr>
          <td>
            {{location}}
          </td>
         {% for key, values in stunt_table.items %}
            {% if key == location %}
              {% for item in values %}
          <td>{{ item }}</td>
              {% endfor %}
            {% endif %}
         {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


</div>
<p><a href="/growth/csv/assessments/?location={{selected_location}}&startdate={{startdate}}&enddate={{enddate}}">Export supporting data to Excel.</a></p>
</div>

<div class="module">
  <h2>Wasting</h2>
  <div class="toolbar" style="whitespace:nowrap;">
    <a href="#wasting_percent"
       id="wasting_percent" 
       onClick="return drawPercentCharts()">Graph as Percentages</a>
    <a href="#wasting_values" 
       id="wasting_values" 
       onClick="return drawValueCharts()">Graph as Values</a>
  </div>
  <div id="wasting_chart" style="width:700px; height:700px;">
  </div>
  <div id="wasting_table" class="table-container" style="width:700px">

    <table width="700px" cellspacing="" cellpadding="" border="">
      <thead>
        <tr>
          <th>Location</th>
          <th>MUAC Captured</th>
          <th>MUAC Efficiency</th>
          <th>Height Captured</th>
          <th>Unusual</th>
          <th>Normal</th>
          <th>Mild</th>
          <th>Moderate</th>
          <th>Severe</th>
          <th>Oedema</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
        <tr>
          <td>
            {{location}}
          </td>
         {% for key, values in wasting_table.items %}
            {% if key == location %}
              {% for item in values %}
          <td>{{ item }}</td>
              {% endfor %}
            {% endif %}
         {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
  <p><a href="/growth/csv/assessments/?location={{selected_location}}&startdate={{startdate}}&enddate={{enddate}}">Export supporting data to Excel.</a></p>
</div>

</div>
{% endblock content %}
